[2015-04-04 09:13] GoogleCodeExporter opened #75 "SVG not supported"
[code]

Original issue reported on code.google.com by `maxime.m...@zenika.com` on 2 Apr 2015 at 1:02

[2015-04-22 13:35] coobird commented on #75
Thumbnailator relies on the Java Image I/O API to handle input/output of image files.

As such, it is outside the scope of the Thumbnailator project to provide support for specific image formats.

That said, since Thumbnailator relies on the Image I/O API, if you use a library like TwelveMonkeys ImageIO (https://github.com/haraldk/TwelveMonkeys) which provides support for additional image formats,

[2015-04-22 13:35] #75 closed

[2015-07-25 05:38] GoogleCodeExporter opened #11 "Resize only if larger"
[code]

Original issue reported on code.google.com by `oliver.k...@gmail.com` on 14 May 2011 at 8:57

[2015-07-25 05:39] GoogleCodeExporter opened #25 "Poor image quality when scaling factor is > 0.5"
[code]

Original issue reported on code.google.com by `coobird...@gmail.com` on 13 Nov 2011 at 6:12

Attachments:
- [hugegrid2-cropped.scale066.gimp.png](https://storage.googleapis.com/google-code-attachments/thumbnailator/issue-25/comment-0/hugegrid2-cropped.scale066.gimp.png)
- [hugegrid2-cropped.scale066.png](https://storage.googleapis.com/google-code-attachments/thumbnailator/issue-25/comment-

[2015-07-25 05:39] GoogleCodeExporter opened #37 "Writing resized image issue on tomcat"
[code]

Original issue reported on code.google.com by `sirius...@gmail.com` on 22 May 2012 at 2:18

Attachments:
- [test_image.jpg](https://storage.googleapis.com/google-code-attachments/thumbnailator/issue-37/comment-0/test_image.jpg)

[2015-07-25 05:39] GoogleCodeExporter opened #40 "Exception reading a CMYK Jpeg"
[code]

Original issue reported on code.google.com by `oliver.k...@gmail.com` on 1 Nov 2012 at 12:59

Attachments:
- [cmyk_sample.jpg](https://storage.googleapis.com/google-code-attachments/thumbnailator/issue-40/comment-0/cmyk_sample.jpg)

[2015-07-25 05:39] GoogleCodeExporter opened #57 "Move to GitHub (and transition to a Git repository)"
[code]

Original issue reported on code.google.com by `coobird...@gmail.com` on 8 Sep 2013 at 5:24

[2015-07-25 05:39] GoogleCodeExporter opened #66 "Unexpected behaviour when using toFile without an extension matching output format"
[code]

Original issue reported on code.google.com by `bjmac...@gmail.com` on 19 Feb 2014 at 8:15

[2015-07-25 05:39] GoogleCodeExporter opened #73 ""Image cannot be null" when using `Thumbnails.of(BufferedImage...)`"
[code]

Original issue reported on code.google.com by `pcman.zh...@gmail.com` on 23 Dec 2014 at 2:25

[2015-07-25 05:39] GoogleCodeExporter opened #76 "Using `BufferedImage` decreases the quality of the output image"
[code]

Original issue reported on code.google.com by `devcar1...@gmail.com` on 18 May 2015 at 10:06

Attachments:
- [withoutBufferedImage.jpg](https://storage.googleapis.com/google-code-attachments/thumbnailator/issue-76/comment-0/withoutBufferedImage.jpg)
- [using_bufferedImage.jpg](https://storage.googleapis.com/google-code-attachments/thumbnailator/issue-76/comment-0/using_bufferedImage.jpg)
-

[2015-07-25 19:42] coobird commented on #57
Migration to GitHub is almost complete.

Need to find optimal way to redirect from Google Project Hosting to GitHub without losing previous download pages.

[2015-08-07 08:00] zdjray opened #80 "color loss(turn red) when resizing some specific images"
I use the following code to resize the jpg file:
Thumbnails.of(new File("src/main/resources/images").listFiles())
            .size(640, 480)
            .outputFormat("jpg")
            .toFiles(Rename.PREFIX_DOT_THUMBNAIL);

Images which have problem:
[original image](http://pic.iznb.cn/9f9b4fbdf5301ba2c3084a381453a402.jpg)
[resized image](http://pic.iznb.cn/9f9b4fbdf5301ba2c3084a381453a402_b.jp

[2015-08-15 05:43] sarnobat opened #81 "Asynchronous IO over SSH file system - no suitable ImageReader found"
With a plain java.nio local file system, I'm able to create a thumbnail using streamed input and output. It also works when I use Apache Mina SSHD stream (synchronous I/O) on that same file. However, this image doesn't work when I stream in from com.pastdev.jsch.nio.file.UnixSshFileSystem (https://github.com/lucastheisen/jsch-nio/blob/master/src/main/java/com/pastdev/jsch/nio/file/UnixSshFileSyste

[2015-08-15 05:48] sarnobat commented on #81
[code]

[code]

[2015-08-16 09:40] coobird commented on #81
Without looking into the specifics of the jsch-nio library and its behavior, here are my thoughts:

The "No suitable ImageReader found for source data." message is given when the underlying Java Image I/O API cannot find a suitable `ImageReader` for a given data stream. It is my understanding that the Image I/O API will determine the appropriate format by examining the data stream for hints such a

[2015-08-16 22:38] sarnobat commented on #81
Thanks for the analysis. I don't think the file itself is the problem since when I open that file as a local path or ssh synchronous it opens correctly, only via ssh nio it fails .

Since I may not get around to further debugging immediately, feel free to close this ticket. I'll reopen it if I have better proof that there is an issue in `Thumbnailator` rather than `jsch-nio`.

[2015-08-16 22:38] #81 closed, assigned to coobird

[2015-09-23 18:44] jforjava1981 opened #82 "Image smoothness is lost for JPG images"
Hi,

 My application saves images uploaded through iPAD app on server.
1) iPAD app sends me Base64 encoded String. I decode it and get the byte array which I directly write to file. This introduces an issue of rotation where images are saved upside down(rotated 180 degree).
2) I create a thumbnail from the file I saved above with following code and the rotation issue disappears and thubnail is sav

[2015-11-02 14:42] abcfy2 opened #83 "How to convert a image to a 8-bit png ?"
I love [tinypng](https://tinypng.com/)'s compress png algorithm, which convert a png file to 8-bit with medium quality. How to use thumbnailator like this algorithm? Is there any way to convert a png file to 8-bit? I find thumbnailator output all png file as 24-bit.

[2015-11-11 15:00] dincek opened #84 "Support for Google AppEngine"
Hi,

I tried to use JPEG resize on Google AppEngine but it is not possible, I got error for using restricted class in java.awt.*. Would it be possible to make changes to library so that it would work on Google AppEngine platform?

Error stack:
java.lang.NoClassDefFoundError: java.awt.RenderingHints is a restricted class. Please see the Google  App Engine developer's guide for more details.
    at

[2015-11-12 13:48] mnowotny opened #85 "Create thumbnails only if the files resolution is lower than the specified one"
It would be great if the thumbnailator could check if the current file has a lower resolution than I've specified.  If its lower, there should be an option like "createThumbnailAnyway" but without resizing.

[2015-12-06 19:53] checklist opened #86 "Crop image using Thumbnailator starting at x,y and size of height,width"
I need to crop an image starting at position x,y and it should be height,width in size (starting at x,y). I have the following code:

Thumbnails
        .of(url)
        .size(width, height)
        .crop(new Coordinate(x,y))
        .toOutputStream(os);
        ;
But it does not seem to be working. Any ideas?

[2015-12-18 16:13] coobird commented on #84
Sorry for the late response.

Unfortunately, the answer is no, because Thumbnailator is a library that depends on classes in the `java.awt` package that the Google App Engine's Java runtime does not provide.

[2015-12-18 16:13] #84 closed, assigned to nobody

[2016-01-20 22:55] sykesd opened #88 "Automagically rotating image?"
I have a source image that is a JPG, 3264 wide x 2448 high. The image is a photo taken with the camera held sideways, i.e. the photo shows a scene vertically that is horizontal in real life.

I use the following code to create a thumbnail of the photo:

[code]

The resulting thumbnail is of high quality, but with the scene rotated 90 degrees so that it is "correct". However, the resulting thumbnai

[2016-01-21 02:30] sykesd commented on #88
RTFM

Just found the useExifOrientation() parameter.

Sorry about that.

[2016-01-21 02:30] #88 closed, assigned to nobody

[2016-02-17 21:04] maksimu commented on #80
I did the following to remove Alpha channel on PNG files:

[code]

[2016-02-22 08:15] zuxianghuang opened #89 "Wrong color pictures"
![11](https://cloud.githubusercontent.com/assets/7301534/13212807/21f9bcce-d97f-11e5-8d94-e48ff477a4f9.jpg)

Thumbnails.of("d:/o.jpg") .sourceRegion(0,0,800,800) .size(750,750)                 .keepAspectRatio(false)                 .toFile("d:/n.jpg");

![dd](https://cloud.githubusercontent.com/assets/7301534/13212856/88e67026-d97f-11e5-8d23-5866345363ad.jpg)

[2016-02-29 21:25] slhrkc opened #90 "Quality loss when saving as the image as jpeg"
[code]

When i use this code for returning an image as jpeg as a response to an http request and "save image as" this is the image i get
[1st image](http://i.imgur.com/YAgH69J.jpg)

[code]

When i use this code and save the output file to disk as jpg this is the image i get
[2nd image](http://i.imgur.com/D0b6pIy.jpg)

[2016-03-01 09:59] #90 closed, assigned to nobody

[2016-04-04 19:38] artichikin opened #91 "Resizing sideways images applies resize before rotation"
I need to make thumbnails from photos and I don't know in advance if they need rotation or not:

[code]

The problem here is if I provide a non-rotated image, it sizes it correctly, and a side-ways oriented image gets scaled to 210 x 280, so it seems like it's calculating the max width and height based on the original dimensions instead of the rotated dimensions?

[2016-04-06 13:46] wishdusk commented on #89
same problem

[2016-05-10 05:59] panenming commented on #89
me too

[2016-05-22 14:31] mdanilakis commented on #91
I think i have a similar problem, the exif orientation is handled properly but the resulting image has black background. I should also note that i use:
`crop(Positions.CENTER)`

[2016-05-25 09:35] camikusch commented on #91
same issue here as artichikin. size(x, y) is applied on the image before its rotated according to EXIF information, leading to a thumbnail that is to small to fit the (x,y) box.

[2016-06-06 08:56] jayabansal opened #93 "Transparency lost during image resize"
During image resizing, the transparency is lost and background becomes black.

[2016-06-06 08:58] jayabansal commented on #93
![companion](https://cloud.githubusercontent.com/assets/19219641/15816892/d395b22e-2bf2-11e6-96bc-670571156863.png)
This is the original file of size 420 \* 280. I need to convert it into 200 \* 160 without loosing transparency. Please suggest

[2016-06-06 12:41] theoziran commented on #80
@zdjray did you find any solution?

[2016-06-06 12:53] theoziran commented on #89
I think is the same problem #80, @panenming @wishdusk did you find any solution for this problem?

[2016-06-26 23:40] Macs75 opened #97 "Run perfectly in local but I get this exception on Openshift"

[2016-06-27 21:05] #97 closed, assigned to nobody

[2016-07-21 11:24] ppasler opened #98 "Stripes after creating thumbnail"
Hey there,

we use the thumbnailator to scale images to a max-width or max-height (50px x 50px), but keeping the aspect ratio. For some reason, some scaled images have ugly stripes.

This is how we do it:

[code]

This is the original image
![google](https://cloud.githubusercontent.com/assets/6583084/17021142/2b2117f6-4f46-11e6-9dc7-44eb3a426c0c.png)

This is the generated thumbnail
![google png_s

[2016-07-22 23:58] ben-manes opened #99 "Rotating has surprising dimensions"
When I rotate an image by 90 degrees the result is squished.

Take for example this [image](https://d1740fs3ymhq5p.cloudfront.net/43f1143e-966c-42c7-a4e6-312b57bd9944/editor/5f094ba9-fb1d-480b-87e7-44eb56ea758a_s100.jpg) (1238 × 1650) and the transformation,

[code]

The [output image](https://d1740fs3ymhq5p.cloudfront.net/43f1143e-966c-42c7-a4e6-312b57bd9944/editor/acb61198-31c2-4d69-abc6-e270313

[2016-07-23 03:57] ben-manes commented on #99
Surprisingly this works as expected if I use `Rotation` directly.

[code]

[2016-07-25 12:45] euleule commented on #98
Hi @ppasler ,

this relates to #26 and the suggested fix works fine for us.

Best regards,
Robert

[2016-07-25 13:18] ppasler commented on #98
Thanks @euleule,

didn't relate these issues. Good job!

regards, paul

[2016-07-25 13:18] #98 closed, assigned to nobody

[2016-08-03 17:35] mrousselet commented on #89
Same issue. Any update? Is this project still alive?

[2016-08-17 13:59] yangxiaojun1 commented on #80
`File in = new File("c:\img\in.jpg"); // 原图片
            FileInputStream inStream = new FileInputStream(in);
            ImageWrapper imageWrapper = ImageReadHelper.read(inStream);//alibaba simpleimage lib
            Thumbnails.of(imageWrapper.getAsBufferedImage()).size(160, 160)
                    .toFile("c:\img\out.jpg");

`you can use this code

[2016-08-25 09:42] BedunkevichE opened #100 "Problem with Resize CMYK image"
Hi, also will  open new issue cause same   old issue is closed without any  working solution
have the error when  try to resize the CMYK image

Thumbnails.of(sourceFile).outputQuality(0.6).size(528, 528).outputFormat("jpg").toFile(thumbnail);

javax.imageio.IIOException: Unsupported Image Type
    at com.sun.imageio.plugins.jpeg.JPEGImageReader.readInternal(JPEGImageReader.java:1068)
    at com.su

[2016-08-25 12:15] BedunkevichE commented on #100
think it is a problem ImageIO.read(sourceFile).....
any way to solve it via Thumbnails?

[2016-08-26 08:13] BedunkevichE commented on #100
the problem is solved via this link
http://www.randelshofer.ch/blog/2011/08/reading-cmyk-jpeg-images-with-java-imageio/
and this class
http://www.randelshofer.ch/monte/javadoc/org/monte/media/jpeg/CMYKJPEGImageReader.html

[2016-09-20 21:18] jforjava1981 opened #101 "Need API to rotate image without losing /compressing"
Hi

I have been using Thumbnailtor to create thumbnails and it works great. However I have a problem to solve. I store images captured from iphone that come with exif data. If I store them as it is without using Thumbnailtor I retain original size but images are shown rotated 90 degree on windows and chrome. I know the issue is because chrome and other windows photo viewers do not honour EXIF data

[2016-09-29 22:24] ghost opened #103 "Ability to specify read/connection timeout for reading from URL"
Currently, Thumbnails.of(url) opens a URL connection without specifying a read or connection timeout. This could result in a thread blocking indefinitely under certain circumstances (it happened to me in a server side application). It would be desirable to give the user the ability to specify a timeout and have that timeout, in turn, be applied to the URLConnection object used (it has a method for

[2016-09-30 18:28] EagleLizard commented on #103
+1 to this. I am running into this error right now where heavily compressed PNG images get expanded to unpredictable sizes during conversion from a URL connection. This causes the thread to run out of heap space and crash without warning.

[2016-10-04 16:21] vrto commented on #101
Same issue here

[2016-10-08 07:19] coobird commented on #100
Thank you for filing this issue, and apologies for not responding in a timely fashion.

Basically, Thumbnailator is only a wrapper around the Java Image I/O API, therefore, if the image readers and writers that are loaded into the Image I/O API does not support the input format, you will encounter problems that you've seen.

In your case, it appears that you found the resolution by using a third-p

[2016-10-08 07:19] #100 closed, assigned to coobird

[2016-10-09 03:15] liuyueyi commented on #89
+1

[2016-10-09 03:50] coobird commented on #93
Thank you for taking the time to file this issue, and apologies for not responding in a timely fashion.

Since you haven't provided information regarding how you were trying to create the resized image, and what the actual result was, I'll assume you're using a code like the following:

[code]

If that's the case, in this instance, the original image uses a 8-bit palette with a transparent color,

[2016-10-09 03:50] #93 closed, assigned to coobird

[2016-10-25 19:53] godenji commented on #93
All it took was an "A" in `TYPE_INT_RGB`, awesome ;-)

Welcome back, btw, thank you for Thumbnailator!

[2016-11-02 16:45] koalsky opened #104 "NoClassDefFoundError: net/coobird/thumbnailator？"
Thumbnailator version:0.4.8
IDE:IntelliJ IDEA 15.0.6
JDK:1.7
OS:window7

If the main, the normal implementation.
If the image for the web page after the upload operation, it prompts NoClassDefFoundError: net / coobird / thumbnailator, including the start IDEA, is the same.

[2016-11-03 13:14] coobird commented on #104
Could you please provide more details?

Were you able to run the program that was actually using Thumbnailator?
What is the actual code in which you were encountering this problem?
How were you trying to execute the program? (From IntelliJ? From the command line?)

`NoClassDefFoundError` is generally an error you encounter when a library is not in the classpath, so I think it might be an issue wit

[2016-11-03 13:43] coobird commented on #103
Thank you for taking the time to file the issue, @spinneret.

I'm a little reluctant to way to control connection-related timeouts through the API at the moment. (There are some implementation issues that could complicate adding such functionality, and I'm not quite sure the most elegant way to change the API to support it at the moment.)

That said, I see the validity in the need to adjust connec

[2016-11-03 14:07] coobird opened #105 "Provide means to reject malicious or large images which can lead to denial-of-service"
Highly-compressed images in the form of large PNGs or malicious PNG decompression bombs could lead to `OutOfMemoryError`s.

While I haven't researched whether decompression bombs can actually happen with the default PNG reader bundled with Java, if such things can happen, then a countermeasure against them would be nice to incorporate in Thumbnailator.

Also, OOMs from large images could be avoide

[2016-11-03 14:10] coobird commented on #103
@EagleLizard, thank you for bringing up the issue of handling files that could potentially cause problems.

In your particular instance, it sounds like you may be describing a PNG bomb or the like, in general, they are something that is outside the control of Thumbnailator, as image decompression is performed by the `ImageReader` implementation which is registered with the Image I/O API, which is

[2016-11-03 14:21] coobird commented on #83
Thank you for filing this ticket. Sorry for not getting back to you in a timely manner.

In case you are still seeking an answer, here's a partial answer.

First, if I recall correctly, Thumbnailator does not do a lot of processing to improve the quality of images when you try to reduce colors -- Thumbnailator basically relies on the processing that the Java 2D graphics processing implementation w

[2016-11-05 04:40] coobird commented on #99
@ben-manes, thank you for filing this issue and sorry for not getting back to you in a timely manner.

I have tried running the code you provided along with the image you provided and found that I wasn't able to reproduce your issue.

Could you give me more information regarding which version of Thumbnailator, JDK (including vendor), and OS you're using?

I tried a couple times in the past to repr

[2016-11-05 06:11] ben-manes commented on #99
Thanks @coobird. I can't seem to reproduce it either, so that's good. I do recall it failing, but clearly not anymore.

At the time I was running into a lot of problems with bad metadata in the jpegs produced by Android cameras. This caused BufferedImage to provide incorrect dimensions, so I switched all my processing to OpenCV (via javacv). Perhaps I attributed the issue to the wrong place, at th

[2016-11-05 06:11] #99 closed, assigned to nobody

[2016-11-05 10:17] coobird commented on #99
Thank you for the follow-up @ben-manes!

Sorry things didn't work out with Thumbnailator...
In any case, I really appreciate the time you took to attempt to reproduce the issue once again. Thank you!

[2016-11-10 20:34] jforjava1981 commented on #82
@coobird  Hey Chris, Did you get chance to have a look at this?

[2016-11-24 20:21] omidshapouri opened #106 "java.lang.IndexOutOfBoundsException: pos < flushedPos"
Hi,
I put watermark on images by following thumbnailtor api documentation, it seems everything is working properly as test cases created watermark on images successfully as well as in production, I can see watermark is appeared on images. But the following error being logged in server log which I could not figure out what is wrong.

error stack trace:
[code]

steps to produce watermark on image:
[

[2016-12-07 10:29] LiomSV opened #107 "Missed setup of RENDERING_HINTS at ProgressiveBilinearResizer.java"
Look at net.coobird.thumbnailator.resizers.ProgressiveBilinearResizer line 74.
In case when multi-step downscaling is not required and one-step scaling is performed, it doesn't set RenderingHints to destination image.

It doesn't matter when you don't use the resizer directly, because resizer factory doesn't return this one in case of such image. But direct usage leads to worse quality, because no

[2016-12-21 06:43] datsabk opened #108 "ExifUtil.getExifOrientation does not work for images containing other exif data alongwith Orientation"
![314](https://cloud.githubusercontent.com/assets/16060349/21379814/da7fa4d0-c776-11e6-9cfc-3d0fde16b96b.jpg)
## Expected behavior
Give orientation for all the images with whatever exif data being present

## Actual behavior
Currently it accepts only the images which contains EXIF data of orientation alone.
It gives exception
javax.imageio.IIOException: JFIF APP0 must be first marker after SOI
	at

[2017-01-07 04:47] scjnsn commented on #91
Kind of a hack, but to get around this, if the Orientation is not TOP_LEFT or BOTTOM_RIGHT, just swap your width/height parameters. Then it will crop wrong and rotate it back to the right place.

[2017-01-28 15:00] jtrommer commented on #93
thank you so mutch
Thumbnailator i a great library

[2017-02-14 10:19] jforjava1981 commented on #101
Any updates on this?. @coobird is it possible to consider this?

[2017-02-23 00:31] ILyaCyclone commented on #101
Exactly what I'm looking for as well. Rotate it by EXIF data, but don't compress it. How to do this?

[2017-02-23 15:56] codegoddesskh commented on #101
It's not a Thumbnailator-based answer, but may be helpful. For this task, I've separately used https://github.com/drewnoakes/metadata-extractor to read the ```ExifIFD0Directory.TAG_ORIENTATION``` and rotate it myself.

https://github.com/drewnoakes/metadata-extractor/blob/5b07a49f7b3d90c43a36a79dc4f6474845e1ebc7/Tests/com/drew/metadata/exif/ExifReaderTest.java

[2017-03-04 05:15] FunkyYang opened #109 "Does Thumbnailator support ico type file?"
I want use this library to convert ico file and resize it to 16*16 size

actually I use this found it can't do with ico file.that is error
No suitable ImageReader found for favicon.ico.
it means useing ImageReader read file so it can't do with ico file?
this is mine code
[code]
- OS vendor and version: window7
- JDK vendor and version: jdk1.8
- Thumbnailator version: thumbnailator[0.4,0.5)

[2017-03-04 09:02] coobird commented on #109
Thumbnailator uses the image I/O functionality provided by the Java Image I/O API, it does not have support for specific file formats -- that's dependent on your Java environment and any 3rd party image I/O libraries you have loaded.

You can read more about it in the [FAQ - Which image formats are supported by Thumbnailator?](https://github.com/coobird/thumbnailator/wiki/FAQ#which-image-formats-a

[2017-03-04 09:02] #109 closed, assigned to coobird

[2017-03-09 07:37] FunkyYang commented on #109
thx

[2017-03-21 09:51] ghost commented on #93
good  !

[2017-03-26 17:15] coobird commented on #86
Sorry that this is a very late reply, I'd like to get more information.

When you mention that "it does not seem to be working", could you describe what exactly you encountered, and what your expectations are?

I suspect this may be a misunderstanding of the `crop` functionality, which is basically a way to enforce an certain output dimensions (which in turn has a certain aspect ratio) from input

[2017-03-28 07:09] akshaysmurthy opened #110 "Using thumbnailator as a tool for general purpose resizing"
Is there any reason not to use thumbnailator to resize an image to a size which is *not necessarily a thumbnail*.

My specific use case is something like this:

I have **4000 x 2000** images which I want to resize to **2000 x 1000**.

Thanks

[2017-03-28 10:52] coobird commented on #110
If your use case is to _downscale_ images, then Thumbnailator would probably work. (See _Note_ below.) It does try to take into account speed and quality consideration when _downscaling_ images, so Thumbnailator can be used for cases where one is not necessarily making thumbnails.

However, Thumbnailator does not really put much thought into _upscaling_ images. Quality, speed and memory usage cons

[2017-03-28 13:44] coobird commented on #76
Closing issue, as question has been answered, and no activity for almost 2 years.

[2017-03-28 13:44] #76 closed, assigned to nobody

[2017-03-29 15:49] rbillimo opened #111 "Exception generating thumbnail image: Insufficient memory (case 4)"
## Expected behavior

When generating multiple thumbnails for images of size  8 MB and dimension 4000 x 6016px I expect the thumbnails for these to generate correctly.

## Actual behavior
However instead of the Thumbnails generating correctly I am getting the following error

 2017-03-29 16:33:22,089 [http-0.0.0.0-8080-16] DEBUG thumbnail.CustomThumbnailController:108 - Exception generating thumbn

[2017-03-29 16:09] coobird commented on #111
Thank you for filing this issue.

~~I just want to double-check one thing. You mention that the image dimensions are "4000 x 60016px" -- that's a 240 megapixel image, that seems like an unrealistically large image. Could you double-check the dimensions please?~~ Also, what are the image formats of the input?

That said, handling large images leading to `OutOfMemoryError`s are a well-known issue (s

[2017-03-29 16:27] coobird commented on #107
@LiomSV, I've verified that this was indeed the case, and have committed a fix for it. It should be applied to the next Thumbnailator release. Once again, thank you! :)

[2017-03-30 11:18] rbillimo commented on #111
Hi

Thank you for your response. I made a initial typo the size of the image is 4000 x 6016. The image format is jpg. I am using the following JVM settings

-Xss256k -Xms775m -Xmx1024m -XX:PermSize=256m -XX:MaxPermSize=256m -Dthumbnailator.conserveMemoryWorkaround=true on version 0.4.8

I have reviewed the other well known issues and i believe this issue is a little different. In particular the pr

[2017-03-30 15:33] coobird commented on #111
Thank you for adding more details, all of which are very relevant.

First of all, let me discuss how you can come up with a ballpark estimate of how much heap memory that's required -- internally (when the memory conservation workaround is _not_ enabled), the peak memory usage will be _at least_ the # pixels times 4 bytes. In this particular case, that would be 4000 x 6016 x 4 byte = more than 96

[2017-03-30 16:17] rbillimo commented on #111
Hi

Thank you for your update. I believe it has been very useful. I retested with a 32 bit version of Java 8 and have reproduced the issue on that. If i monitor in task manager i see that during the execution of my program it is reaching the memory limit of a 32 bit process and hence the reason i am getting the errors. With a 64 bit version of Java the problem is not happening and i see the Java p

[2017-03-31 03:18] akshaysmurthy commented on #110
@coobird Thanks for the swift response.

Understandable. Like I said, my use case is really downscaling larger images to 2000px wide images. I am guessing that's exactly what you referred to as *downscaling large images to still large images*. Is that correct?

[2017-03-31 18:03] coobird commented on #110
@akshaysmurthy, yes, I would consider 2000 px wide images being "large images", at least when compared to typical thumbnail sizes that Thumbnailator was originally developed for. :)

[2017-04-02 05:50] akshaysmurthy commented on #110
@coobird Thanks a lot :)
One final question.
_downscaling large images to still large images will use quite a bit of memory while processing_ - That limitation isn't specific to Thumbnailator, right?

[2017-04-13 02:45] zjnxyz commented on #89
in jdk6 miss same issue, see problem #5,want we use TwelveMonkeys solve a specific JPEG image problem

[2017-04-13 09:12] 24 opened #112 "fgc Too high"
hi ,
test 50 thread ，find fgc  change to fast

![image](https://cloud.githubusercontent.com/assets/1859160/24998107/9b1637ac-206b-11e7-9f68-627886021243.png)

![image](https://cloud.githubusercontent.com/assets/1859160/24998120/a5de8554-206b-11e7-9636-e956140bd75c.png)

so ,,,it's danger ?

[2017-04-13 10:32] jforjava1981 commented on #101
@coobird Any updates on this?

[2017-04-13 10:32] jforjava1981 commented on #82
@coobird Any updates on this?

[2017-04-15 04:04] coobird commented on #112
You'll need to provide more details about what you're doing, for me to provide any useful advice, if there's any.

What kind of images are you using as source images? Are they from disk? How big are they? What is the output size of using Thumbnailator? What JVM settings are you using, along with which version of Java running on which OS?

Since you haven't followed the [Issue Template](https://git

[2017-04-16 16:42] coobird commented on #110
@akshaysmurthy, sorry for the delay in responding.

In general yes, handling large images would take quite a bit of memory usage, so it's not an issue that Thumbnailator would face. However, there are some ways to attempt to reduce memory usage (such as mentioned in Issue #1), but it's not something that's implemented yet in Thumbnailator.

[2017-04-17 03:27] akshaysmurthy commented on #110
Thanks @coobird. That was very helpful :)

I'm closing this issue.

[2017-04-17 03:27] #110 closed, assigned to coobird

[2017-05-02 18:01] vincentkerdraon opened #113 "Document `keepAspectRatio` in examples"
## Expected behavior
Builder exists and works for argument : keepAspectRatio
(feature is precious because round on reduction will have a few pixel difference with requested size)
Example : expecting 500x1000px and got 499x1000px

## Actual behavior
keepAspectRatio arg is not mentioned in examples

##Suggestion of example
Thumbnails.of(dir_in.listFiles()).size(width, height).keepAspectRatio(false).

[2017-05-07 07:22] jlerbsc opened #114 "Support progressive encoding for output (i.e. allow writing progressive JPEGs)"
Hi,
Is there a way to generate progressive jpeg with thumbnailator?
Thanks,

[2017-05-10 07:53] ntkhanh opened #115 "Request for aditional function of Thumbnails.asInputStream to make it's easier for storing into Mongodb GridFS"
## Expected behavior

For storing image data into Mongodb GridFS requiring an inputStream as input so it's not convenient for user to convert an outputStream (Thumbnails.toOutputStream(out)) into an inputStream manually by user.

So it's best to have an additional function Thumbnails.asInputStream() returns an inputStream.

- JDK vendor and version:
- Thumbnailator version: 0.4.8

[2017-05-10 08:01] ntkhanh opened #116 "Request default value for scale and outputFormat instead of mandatory."
Thumbnails class requires mandatory of **scale** and **outputFormat** which is not neccessary when it's possible to set default **scale** value to **1** (keep original) and **outputFormat** can be probe from _filename_.

- OS vendor and version: Windows 10
- JDK vendor and version: Java 8
- Thumbnailator version: 0.4.8

[2017-05-10 14:24] coobird commented on #116
I don't have enough details to understand the issue you are encountering. Use of `outputFormat` is not mandatory, unless you are using the `toOutputStream` (or `toOutputStreams`).

For your information, based on the information you've provided, I've attempted to reproduce what you've reported, by using the following code:

[code]

The above code does not use `outputFormat`, but is able to output a

[2017-05-10 14:38] coobird commented on #115
Frankly, having Thumbnailator return an `InputStream` as the final result is very unintuitive, and I believe the use cases are very limited.

Unless there is a very large interest in this feature, I'm going to opt to say that this is out of the scope of Thumbnailator.

If you're interested, there are libraries that can take care of doing the "piping" from the `OutputStream` to an `InputStream`. I

[2017-05-10 14:49] coobird commented on #114
No, Thumbnailator does not expose the functionality of the Java Image I/O API to specify whether to use progressive encoding. As that functionality is not exposed, is it not possible at this time to create progressive JPEGs.

That said, I'd be interested to hear how much interest there is. If there's a lot of interest, then I think it's worth incorporating this as a new feature.

[2017-05-10 14:51] coobird commented on #113
Definitely wouldn't hurt to mention it in the examples page. Thank you for the suggestion. :)

[2017-05-10 14:57] coobird commented on #111
I'm glad you were able to investigate deeper into the issue.

Yes, basically, the more concurrent processing you have, the more peak memory capacity you will need. At least with the way Thumbnailator does processing, it keeps a copy of the full image in memory, so the peak memory is relatively large. This will continue to be the case until issue #1 is resolved.

[2017-05-10 15:24] coobird commented on #101
I've actually looked into this before, but is was way too involved so I never got around to responding.

It's true that Thumbnailator does not preserve the Exif information in the resulting image, so some of the file size reduction comes from that. However, the main reduction in size is because it is indeed losing quality due to the JPEG compression being performed on the image.

Keep in mind that

[2017-05-11 09:22] jforjava1981 commented on #101
@coobird thanks and look forward into future when we have this.

[2017-05-11 14:18] ntkhanh commented on #116
Thanks for your reply.

My program use Thumnailator for processing uploaded images and storing serveral copies with different size to GridFS server. I have tried Javaxt and have issue with image quality so I think Thumbnailator is much better.

However, I got an issue that Thumbnailator always throw exception if I do not call **.scale(1)** and **.outputFormat()** before calling one of the below fu

[2017-05-11 14:25] ntkhanh commented on #115
I agree with you that this request doesn't make sense for Thumbnailator to have it and it's optional.
The code below works though looks a litle bit noisy.

[code]

[2017-05-19 15:54] santo74 opened #117 "wrong dimensions for portrait images on production environment"
## Expected behavior
Executing the following code:
`Thumbnails.of(imgInputStream).useExifOrientation(true).size(newWidth, newHeight).outputFormat("jpg").outputQuality(quality).toOutputStream(os);`

given a newWidth of 350px and a newHeight of 662px for an image with an original width of 2160px and an original height of 3840px I would expect the resulting image to have a width of 350px and a height

[2017-05-25 09:07] derekng622 opened #118 "IfdType defined a wrong value of SRATIONAL"
## Expected behavior

I am converting images to thumbnail with this version 0.4.8.

The test code is below:
[code]
Expected getting and orientation object or null object.

## Actual behavior
But I got:
[code]

## Steps to reproduce the behavior
In mothed readIFD of ExifUtils.java, the thread got the value of type is 10, but In class IfdType has not value "10" . Occording to the specification "CIPA

[2017-05-25 14:51] coobird commented on #118
Thank you for filing this issue, with information to pin-point the problem!

I've checked the specification as well, and can confirm that the value defined for `IfdType.SRATIONAL` is incorrect.

[2017-05-25 15:30] #57 closed, assigned to coobird

[2017-06-06 19:04] bingqiao opened #119 "Resize only if the original image is larger than the specified size?"
[code]

## Expected behavior
When the dimensions of  the original image are smaller than the specified size, the image should not be made larger.

## Actual behavior

For a jpg image of 120x120, the resulting file is 480x480.

[2017-06-10 03:52] coobird commented on #119
Thank you for filing this issue.

This is basically very similar to #11, but achieved by changing the behavior of an existing function. Although the API for the `size(int, int)` method is a little bit vague about whether it will enlarge the image if the source image is smaller than the given dimensions, changing the behavior now would be too surprising to existing users, and will break the expecta

[2017-06-10 03:52] #119 closed, assigned to nobody

[2017-06-15 15:00] snaquekiller opened #120 "GIF java.lang.ArrayIndexOutOfBoundsException: 4096"
## Expected behavior
_Please describe what you are expecting the library to perform._
create thumbnail

## Actual behavior
_Please describe the actual behavior you are experiencing, including stack
trace and other information which would help diagnose the issue._

[code]

## Steps to reproduce the behavior
_Please enter step-by-step instructions for reproducing the actual behavior.
Including code

[2017-06-21 19:20] cazacugmihai opened #121 "Provide snapshot artifacts for in-development versions"
Is there a repository that holds the snapshot releases available for master/develop branches?

[2017-07-04 10:30] TrigoTao opened #122 "outputQuality issue, make image lager."
## Expected behavior

outputQuality(x) should almost shrink image by x proportion.

## Actual behavior

outputQuality(0.95) actually make the image larger.

## Steps to reproduce the behavior

`Thumbnails.of(ByteSource.wrap(source).openStream()).scale(1).outputQuality(0.95).toOutputStream(baos);`

## Environment

- OS vendor and version: centos && ubuntu
- JDK vendor and version: 7
- Thumbnailator

[2017-07-25 06:41] shillem commented on #66
I have tried to apply the suggested snippet but without success. Another exception is thrown for a temporary file whose name doesn't include any extension.

`net.coobird.thumbnailator.tasks.UnsupportedFormatException: No suitable ImageReader found for /var/ibm/domino/data/xspupload/__xsp64tmp.
at net.coobird.thumbnailator.tasks.io.FileImageSource.read(Unknown Source)
at net.coobird.thumbnailator.t

[2017-08-22 16:48] coobird commented on #120
@snaquekiller,  sorry for the late reply.

I'd like to get clarification on your issue -- what are your expectations? You'll need to be more clear about what you expect.

I'm going to guess that you want to resize an animated GIF?

[2017-08-22 16:49] coobird commented on #121
@cazacugmihai, sorry for the late reply.

There are no snapshot releases being made right now. However, that's actually a pretty good idea, since now that Thumbnailator has a `develop` branch, which didn't exist until recently. :)

[2017-08-22 16:55] coobird commented on #122
@TrigoTao, sorry for the late reply.

That's actually expected behavior. `outputQuality` is [defined as follows](https://coobird.github.io/thumbnailator/javadoc/0.4.8/net/coobird/thumbnailator/Thumbnails.Builder.html#outputQuality(double)):

Therefore, the final size of the image is up to the compression algorithm used, and it has no bearing on what the data size of the original image.

For exampl

[2017-08-22 16:55] #122 closed, assigned to coobird

[2017-08-30 15:58] coobird commented on #116
@ntkhanh, the purpose of Thumbnailator is to allow users to simply _resize images_, so requiring the user to specify call either `scale` or `size` methods comes from that intended use case. As such, using `scale(1.0)` as the default behavior doesn't serve the intended use case well. If you want to do a non-resize operation, you can be explicit by using `scale(1.0)`.

As for implicitly calling `out

[2017-08-30 15:58] #116 closed, assigned to coobird

[2017-09-02 17:56] smiklosovic commented on #121
use jitpack https://jitpack.io/

[2017-09-16 02:44] coobird commented on #104
Closing ticket for no activity/follow-up.

[2017-09-16 02:44] #104 closed, assigned to nobody

[2017-11-01 13:36] arn1995 opened #123 "Thumbnail background is black for GIF images with transparent background"
I am trying to create thumbnails from images with .gif format having transparent backgrounds. I am creating thumbnails of dimensions 200x200 in .jpg format. I ahve numerous solutions suggested in previous issues to no effect. I have also tried to change the output format to something and still drawn blank.

## Expected behavior
The result that comes must have a white or transparent background.

##

[2017-11-18 04:16] ReedElliott opened #124 "Thumbnailator does not automatically rotate pictures from Samsung Galaxy S5 telephones"
## Expected behavior
The following code should rotate the source file based on the Exif Orientation and save in the destination file.

`Thumbnails.of(source).scale(1.0).toFile(destination);`

## Actual behavior
Destination file is not rotated.

Note: When I send my code pictures produced on other devices, the pictures are rotated properly.

I believe the following line in the getExifOrientation(..

[2017-12-04 03:46] salamanders opened #125 "What is the best way to get grayscale thumbnails?"
## Expected behavior
I was wondering if imageType(BufferedImage.TYPE_BYTE_GRAY) actually converts the image to grayscale?  The API https://coobird.github.io/thumbnailator/javadoc/0.4.8/net/coobird/thumbnailator/Thumbnails.Builder.html#imageType(int) doesn't actually say.

Ideally it would convert to grayscale (or other type) if necessary, and be a no-op if it was already the desired type.

[2017-12-14 19:05] sagebind opened #126 "Input streams are not closed after reading"
## Expected behavior
_Please describe what you are expecting the library to perform._

When using an `InputStream` as an image source, Thumbnailator should close the stream automatically when finished with reading from the stream.

## Actual behavior
_Please describe the actual behavior you are experiencing, including stack
trace and other information which would help diagnose the issue._

When us

[2018-01-03 02:43] itll commented on #123
[code]
[https://my.oschina.net/itll/blog/1601028](url)

[2018-01-08 11:01] kashsbd opened #127 "Does it support video to convert as image file??"
Does it support video to convert to image file??

[2018-01-19 13:31] oakit commented on #126
use try with resource to be sure the inputsream is closed

`try (InputStream input = new FileInputStream("input.png")) {
       Thumbnails.of(input).outputFormat("png").size(200, 200).toFile("output.png");
    }`

[2018-01-20 22:58] JimTyrrell opened #128 "Does this library enable the setting of a DPI"
## Expected behavior
It would be lovely if this library could set the DPI of the underlying image that is created.

## Actual behavior
I have some code I could contribute if you can guide me where it should go.

## Steps to reproduce the behavior
Doesn't seem to be documented.

## Environment
All

[2018-02-18 03:13] nqzero commented on #85
for a work-around see https://github.com/coobird/thumbnailator/pull/94#issuecomment-366489245

[2018-02-24 05:47] sanatbek opened #129 "I need to save a picture without format just as file"
## Expected behavior
When i saved the picture it is automaitacally saving its format as jpg.
I need to save a picture without format just as file

[2018-02-27 09:35] smokingrain opened #130 "I want to turn a picture of PNG into a JPG"
## Expected behavior
PNG -> JPG
width = height = 300 -> width = height = 300
size=22kb -> 10kb or smaller

## Actual behavior
PNG -> JPG
width = height = 300 -> width = height = 300
size=22kb -> 50kb
God ,maybe I'm blind,shouldn't it be smaller?

## Steps to reproduce the behavior
Here is my code:
Thumbnails.of(source).size(widthDest, heightDest).outputFormat("JPEG").outputQuality(1.0f).toFile(des

[2018-03-18 19:44] karianpour opened #131 "generate multiple thumbnails"
Is there a way to generate multiple thumbnails with different sizes without reading the file multiple times?
I guess the code bellow reads the tmp_file 3 times and parse it 3 times.

[code]

[2018-03-23 10:25] gssitrainee commented on #120
*Same problem here*

- OS vendor and version: Windows 10
- JDK vendor and version:1.8
- Thumbnailator version: 0.4.8

[2018-04-03 23:08] bgunnink commented on #130
No; or at least not at 100% quality.  Get Paint.NET, open your PNG, and start saving as a JPEG.  When you crank the quality slider to 100%, it's quite a bit larger than the original.  The pivot point tends to be 95%, in my experience.

[2018-04-15 05:17] coobird commented on #131
At the current time, aside from the way you mention, there isn't a way to create multiple thumbnails without reading the source input multiple times.

This has been requested in the past (issue #29), and if I have the chance to refactor Thumbnailator, I'll keep this in mind. For now, since this is a duplicate issue I'll be closing this one.

If you have additional comments feel free to add them to

[2018-04-15 05:17] #131 closed, assigned to nobody

[2018-04-15 05:24] coobird commented on #130
Yes, as @bgunnink mentions, it is not unexpected to see JPEGs ending up larger than PNGs in certain circumstances.

It really comes down to how those two image compression schemes work -- to put simply, JPEG is designed to compress natural images like photographs, while PNG is designed to compress images that have stark contrasts and large sections of images with the same color, like illustrations

[2018-04-15 05:24] #130 closed, assigned to coobird

[2018-04-15 05:28] coobird commented on #129
Could you be a little more specific about this? What do you mean by "without format"?

Usually, image data are stored in files using some kind of format (e.g. JPEG, PNG, BMP, etc.) so that programs can interoperate, so you'll going to be more specific about your expectations.

[2018-04-15 05:29] coobird commented on #127
What are your expectations?

Given what input, what is your expected output?

[2018-04-15 06:08] coobird commented on #126
Sorry for the late reply.

To put it succinctly, this behavior is intended; the code that @oakit presents is a very nice way to handle `InputStream`s which are given to Thumbnailator.

Now, the long reason as to why this is the intended behavior comes down to Thumbnailator not being able to tell whether it should close the `InputStream` or not, since Thumbnailator itself does not have control over

[2018-04-15 06:08] #126 closed, assigned to coobird

[2018-04-15 08:11] coobird commented on #125
I think there's two things at issue here -- 1) what is the best way to create greyscale images? and 2) what exactly does `imageType()` do?

First, I'll answer the easy of the two, which is (2) what does `imageType()` do -- that actually is the image type (how the pixel data is represented) of `BufferedImage` that is used behind the scenes for drawing the resulting thumbnail. This is something the

[2018-04-15 08:31] coobird commented on #128
What do you exactly mean by setting the DPI of the underlying image? Are you referring to the metadata that's included in the thumbnails that are produced by Thumbnailator?

Thumbnailator is a library that deals with pixel-level manipulation of images. In order to talk about DPI (i.e. dots-per-inch, where inch is a real world quantity of measurement), we would have to talk about real world measure

[2018-04-15 16:56] coobird commented on #123
Note to self: Check if issue is same as #41.

[2018-04-15 17:19] coobird commented on #114
Note to self:

API Design memo for a potential way to specify the output parameters of the compression format used for the output.

JPEG:
[code]

PNG:
[code]

[2018-04-20 20:27] salamanders commented on #125
2:  Great!

1:  Good q, I want a "real" grayscale image - pixels in shades of gray, less memory needs, ready to be stuffed into a ML bitmap intake that is expecting grayscale.  This one.  https://commons.wikimedia.org/wiki/File:Grayscale_8bits_palette_sample_image.png

[2018-04-30 03:10] freehuoshan commented on #120
sample problem

java.lang.ArrayIndexOutOfBoundsException: 4096
	at com.sun.imageio.plugins.gif.GIFImageReader.read(GIFImageReader.java:984) ~[na:1.8.0_60]
	at net.coobird.thumbnailator.tasks.io.InputStreamImageSource.read(Unknown Source) ~[thumbnailator-0.4.8.jar!/:0.4.8]
	at net.coobird.thumbnailator.tasks.SourceSinkThumbnailTask.read(Unknown Source) ~[thumbnailator-0.4.8.jar!/:0.4.8]
	at net.coo

[2018-04-30 03:12] freehuoshan commented on #120
https://github.com/DhyanB/Open-Imaging

I found a solution here, please solve this bug in the new version.

[2018-05-03 01:14] coobird commented on #120
@freehuoshan , thank you for adding more information about this issue.

So this is an issue that the GIF decoder bundled with the JRE, and can be found discussed here:
https://stackoverflow.com/questions/22259714/arrayindexoutofboundsexception-4096-while-reading-gif-file

Since Thumbnailator relies on the image readers and writers provided by Java Image I/O, providing bug fixes for those are out o

[2018-05-03 01:14] #120 closed, assigned to coobird

[2018-05-03 01:17] coobird opened #132 "Workaround for the "GIF java.lang.ArrayIndexOutOfBoundsException: 4096" issue"
As reported in #120, there appears to be a problem with the GIF decoder bundled with the JRE that causes some GIFs to throw exceptions.

More details can be found here:
https://stackoverflow.com/questions/22259714/arrayindexoutofboundsexception-4096-while-reading-gif-file

Creating a GIF decoder is not in the scope of Thumbnailator, so it would be nice if a workaround could be created.

[2018-05-03 01:24] coobird commented on #125
In that case, _probably_ using `BufferedImage.TYPE_BYTE_GRAY` would work. As I mentioned in the paragraph about (2), using the `imageType` tells Thumbnailator to use that `BufferedImage` type to draw the resulting thumbnail to, so my guess is that it would work fine. I suggest you actually try it out with some sample images and verify that it does work to your expectation.

[2018-05-03 01:42] coobird commented on #124
Note: Sounds similar to #108

[2018-05-06 10:28] lopcode commented on #114
This would be quite useful for a project I'm working on, as it's pretty content-heavy, and the UX for slow connections would be better with progressive images I think. https://www.adoptanimals.io/

Thanks for all your hard work so far, I did quite a bit of searching for good JVM thumbnail making and this one was by far the easiest to use and produced really nice results (all the animal images on t

[2018-05-08 15:17] coobird commented on #114
@CarrotCodes I'm glad to hear that Thumbnailator is being put to good use, and thank you for your comment. :)

I can't make any promises when Thumbnailator will add support for setting progressive JPEGs, but I'll keep it in mind for features to work on. (I might end up creating a temporary workaround if I can't cleanly integrate it into the API yet.)

[2018-05-08 15:21] coobird commented on #121
I've decided to make the `develop` branch a SNAPSHOT version, so that I can `mvn deploy` the snapshot artifacts to the [Sonatype OSSRH (OSS Repository Hosting)](http://central.sonatype.org/pages/ossrh-guide.html). Snapshot artifacts should be accessible by using adding the following `repository` to the `repositories` section of the POM using Thumbnailator as a dependecy:

[code]

[2018-05-08 16:11] cazacugmihai commented on #121
Thank you!

[2018-05-08 16:11] #121 closed, assigned to coobird

[2018-08-30 03:16] BlackJia opened #133 "java.lang.IllegalStateException: scale is not set."
at net.coobird.thumbnailator.Thumbnails$Builder.checkReadiness(Unknown Source)
at net.coobird.thumbnailator.Thumbnails$Builder.asBufferedImage(Unknown Source)

how can i fix it.

[2018-08-30 03:28] BlackJia commented on #133
sorry I miss some set
Thumbnails.of(file.getInputStream()).scale(1.0f)

[2018-08-30 03:28] #133 closed, assigned to nobody

[2018-09-26 11:39] crustycrabthe3rd opened #134 "Unnecessarily High Memory Consumption"
## Expected behavior
I'm expecting not to see a huge jump in memory while using thumbnailator, downloading twenty images makes the memory go from 250mb to 1300mb.

## Steps to reproduce the behavior
I'm downloading 2048px images from a certain url
`BufferedImage image = getImageFromURL(url); `
Then i upscale them like this
`image= Thumbnails.of(finalImage).width(4096).keepAspectRatio(true).scaling

[2018-10-25 03:54] zhouxiangdev opened #135 "Thumbnail of PNG is wrong"
## Expected behavior
_Please describe what you are expecting the library to perform._
I want to generate the thumbnail of one PNG file

## Actual behavior
_Please describe the actual behavior you are experiencing, including stack
trace and other information which would help diagnose the issue._
The source png file is this:
![3](https://user-images.githubusercontent.com/34224911/47475039-7b25f780-d

[2018-11-15 10:21] loheander commented on #108
With most of our users using mobile phones to take pictures now, this is becoming a serious issue. Is there anyone still maintaining this library? Would you accept pull requests?

[2018-11-15 15:37] coobird commented on #108
@jheander Thank you for the comment. Do you have any more information regarding which mobile phones are exhibiting this issue? (Are they happening in particular series of phones? Particular OS or version? etc?) If you have any examples of JPEGs that have the same issue as the one described here, it could be helpful for diagnosis.

[2018-11-15 15:59] coobird commented on #134
@RafatRifaie How are you getting your memory usage figures? Are those values reported by the operating system?

Also, what JVM heap memory parameters are you using? It could be that if your maximum heap size (`-Xmx`) is set to a high value, and depending on that the garbage collector may not be aggressively GCing, causing the JVM to ask more memory from the OS. [This StackOverflow answer](https://

[2018-11-15 17:47] shelined commented on #108
We've experienced this issue with photos from the Samsung SM-G960U.

I would share the photo but I am not comfortable sharing it with the GPS location in the EXIF data and if I remove just the location from the EXIF data with Preview on Mac OS the issue is no longer reproducible with the modified image.

[2018-11-15 20:02] loheander commented on #108
Just fake your location before taking the picture, using for example this
app: https://play.google.com/store/apps/details?id=com.lkr.fakelocation

Den tor 15 nov. 2018 18:47Dan Sheline <notifications@github.com> skrev:

[2018-11-28 07:34] sundayha commented on #73
Jdk 1.8 has the same error, jdk 10 does not have this error

[2018-12-13 07:46] KamilKrol opened #136 "useExifOrientation flag is not respected for BufferedImage"
## Expected behavior
When setting `useExifOrientation` flag to `true`, one can expect that Image orientation is handled properly no matter what Image source we use (InputStream, BufferedImage etc.).

## Actual behavior
Image orientation from EXIF metadata is respected in other cases.
After checking the source code it seems that:
- **BufferedImage - NOK**
- FileImageSource - OK
- InputStreamImageSo

[2018-12-17 08:07] majintao opened #137 "Any plan to support converting webp?"
## Expected behavior
_Please describe what you are expecting the library to perform._

## Actual behavior
_Please describe the actual behavior you are experiencing, including stack
trace and other information which would help diagnose the issue._

## Steps to reproduce the behavior
_Please enter step-by-step instructions for reproducing the actual behavior.
Including code can be helpful in diagnos

[2019-01-12 22:09] dfquaresma commented on #104
I was running my server on the command line and I got NoClassDefFoundError and also ClassNotFoundException, even setting correctly the thumbnailator dependency in maven pom file.
I tried to fix the error and exception specifically, but with no success. Then, I solved the problem by cloning the Thumbnailator repository and copying the net.coobird.thumbnailator source code into my project.
It isn't

[2019-01-13 14:52] stefan-reich commented on #134
The JVM cannot be trusted to use a conservative amount of memory. When there is a lot of activity from the program (in terms of making temporary objects), it will happily allocate more memory. It's not even absurd; programs might benefit from this. How is the VM to know if you want to conserve memory?

The only ways around this effect for now are

1. Set a maximum heap size - that obviously does t

[2019-01-13 14:53] stefan-reich commented on #134
I thought he meant he upscaled them individually and then discarded them?

[2019-01-13 14:55] stefan-reich commented on #129
Funny question :1st_place_medal:

[2019-01-13 14:58] stefan-reich opened #138 "Awesome library!"
Just thought I'd say that. :+1:

I'm using this in my [Java-based OS](http://BotCompany.de).

I was looking for way to downscale quickly and with good quality, and Thumbnailator does the job.

Feel free to close this issue!

[2019-01-21 13:06] chickFish commented on #137
good question

[2019-01-22 12:27] sicmu commented on #137
good question

[2019-01-28 20:58] havwig commented on #108
I have a small web app that uses Thumbnailator, and have a lot of mobile photo uploads. It's been running for a few years and have handled resize with correct orientation according to EXIF data, but it fails portrait images with Asus Zenphone 5. I suspect that this is caused by this bug. I'm attaching two sample images, one taken in portrait mode, and one landscape.

![p_20190128_213322](https://u

[2019-02-11 11:28] Emmenemoi commented on #137
https://bitbucket.org/luciad/webp-imageio/src/default/
or its fork for easy maven build:
https://github.com/nintha/webp-imageio-core

[2019-02-26 02:56] renhuiyong opened #139 "Arbitrary position of watermarking"
## Expected behavior
_Please describe what you are expecting the library to perform._

Watermarking is generated at any location rather than the specified option

## Actual behavior
_Please describe the actual behavior you are experiencing, including stack
trace and other information which would help diagnose the issue._
Fixed option

## Steps to reproduce the behavior
_Please enter step-by-step i

[2019-03-07 09:09] fuyuciel opened #140 "Compress .png picture, the background's color turns black"
Hello friends,
Before Compression, the background's color is transparent.
After Compression, the background's color is black.
The picture's format is png.
Thanks for yours answers.

[2019-03-13 10:58] luankevinferreira commented on #108
I've experienced this issue with Samsung SM-T825

I've extracted the EXIF information of two images, I hope it helps the diagnosis

- The below information was extracted from a image that works perfectly
Orientation	Mirror horizontal and rotate 270 CW
XResolution	72
YResolution	72
ResolutionUnit	inches
ExifImageWidth	500
ExifImageHeight	330

- The below information was extracted from a picture tak

[2019-03-19 04:08] FranPrin opened #141 "Thumbnailator using Image instead of BufferedImage as input"
I have an Image in java and I want to use the Thumbnailator class to resize it.

But it seems that the Thumbnailator class does not accept Images and has no method for converting Images to BufferedImages (which are accepted instead).

I thought that I probably am missing something because this seems like an odd predicament that many people would likely find. I could write my own method to convert

[2019-04-02 18:52] salamanders opened #142 "Slow zoom"
I'd like to create a "slow zoom to center of photo" BufferedImage sequence, and I *think* this library can do it without using external hacks, but when I tried, it came out all janky.

[code]

Is there a better way to do the Canvas trim and a proportional edge-trim as the frames progress? I've got the two `Thumbnails.of` which smells wrong, and I know the `2 * i` doesn't respect the image ratio, s

[2019-04-24 18:59] simb0 opened #143 "FileImageSource stream not closed on exception"
To respect the wish not to create pull requests but an issue... here it comes.

If an error occurs while reading the local stream in the FileImageSource, the created stream will not be closed, so the src file cannot be deleted.

The error can be reproduced with this test:

	@Test
	public void broken_image_should_be_deletable_after_read() throws IOException {
		File sourceFile = File.createTempFile

[2019-05-10 15:47] richiksc opened #144 "Thumbnailator corrupts PNG image"
## Expected behavior
Resize an image to a smaller size without greatly affecting the visual quality of it.

My source image is this:
![git-logo](https://user-images.githubusercontent.com/8939680/57539369-f8f4b080-730f-11e9-9b12-c774259290c2.png)

and when I run it through Thumbnailator using
[code]
I expect it to come out as a 128x128 PNG image retaining its transparent background - the file is sm

[2019-05-10 16:21] rntrp commented on #144
Without going too much into detail, have you tried setting the image type to ARGB?
[code]

[2019-05-11 14:16] #139 closed, assigned to nobody

[2019-05-25 05:21] wumpz opened #145 "Is this library maintained anymore?"
Are you looking for a new maintainer?
This project is awesome. Simple useful and heavily used.

[2019-05-25 08:47] coobird commented on #145
Sorry, been too busy lately, I'm trying to find some time to be able to work on Thumbnailator again. I'm glad you find this project useful, and I hope to get around to at least issuing a bug fix release.

[2019-05-25 08:47] #145 closed, assigned to nobody

[2019-05-25 08:59] coobird commented on #138
Glad to hear you found Thumbnailator useful! Thank you!

[2019-05-25 08:59] #138 closed, assigned to nobody

[2019-06-14 12:24] reisi007 commented on #114
hi :) Is there any way we can assist you in implementing this?
IMHO as a workaround we could get a bufferedImage and do the writing ourselves, so not a blocker for me

[2019-07-10 14:41] wendal commented on #108
it happen at Xiaomi 8 SE too.

[2019-07-24 01:43] sunnynguyen-ai commented on #137
It'd be great if we can Thumbnails....outputFormat("webp")

[2019-09-17 09:35] lkhore opened #146 "No suitable ImageReader found for C:\Users\LKhore\Pictures\Screenshots\desktop.ini"
## Expected behavior
_Please describe what you are expecting the library to perform._

## Actual behavior
_Please describe the actual behavior you are experiencing, including stack
trace and other information which would help diagnose the issue._

net.coobird.thumbnailator.tasks.UnsupportedFormatException: No suitable ImageReader found for C:\Users\LKhore\Pictures\Screenshots\desktop.ini.
	at net.

[2019-12-09 21:38] romulodiniz commented on #137
I hate spam, but any news on this support? thumbnailator is working great until now, but this lack of support for webp is a bit sad.

[2020-01-03 13:41] thanossv commented on #146
From what I see, the program attempted to process the hidden windows file "desktop.ini", but, since it's not an image, it failed.
Try to exclude this file from processing to see if this resolves your issue.

Cheers,
Thanos

[2020-01-07 11:58] textworld opened #147 "java.lang.OutOfMemoryError: Java heap space when resize a specific image."
## Expected behavior
The error will not happen

## Actual behavior
Got an OOM error.

## Steps to reproduce the behavior

When I resize this image (https://1drv.ms/u/s!AlpawZKZPCw41DIr9maBJADZEfgS?e=e7TPce), the OOM error will happen. This image is a jpg file without the extension name.

[code]

And I got this
[code]

## Environment
_Please provide vendor and version information for the Operating

[2020-01-08 02:14] textworld commented on #147
And My vm options
[code]

[2020-01-24 23:14] nitelite commented on #137
The latest release of this lib was in like 2014 :P

[2020-01-24 23:16] romulodiniz commented on #137
Yeah... I gave up a while ago :) Thanks!

On Fri, Jan 24, 2020 at 8:14 PM Espen Haviken <notifications@github.com>
wrote:

[2020-01-26 03:12] coobird commented on #137
Thumbnailator relies on the Java Image I/O API for reading and writing images; Thumbnailator itself doesn't include explicit support for any image file formats. Since out-of-the-box Java does not include support for WebP, If you want to support additional formats, you'll need to use Image I/O plugins that support the image format you want to use.

For example, check out the response from Emmenemoi

[2020-01-26 03:12] #137 closed, assigned to nobody

[2020-01-26 03:25] coobird commented on #147
As you mentioned, you'll need to adjust your JVM heap size.

Thumbnailator needs to load the original image, which will require (roughly speaking) at least double of `width * height * 4 bytes` of heap space. For example a 20 megapixel image requires 160 MB of heap. This can be evidenced from the stack trace, which indicates that the OOM is occurring while reading the image:

[code]

Since the imag

[2020-01-26 03:27] coobird commented on #146
As @thanossv, it appears to be an issue with attempting to read `desktop.ini` which is not an image.

[2020-01-26 03:27] #146 closed, assigned to nobody

[2020-01-26 03:33] coobird commented on #144
@richiksc As you've noticed, it happens for paletted 8-bit PNGs, and the solution posted by @rntrp  solution would work.

This is actually a duplicate of #41 which happens for index-paletted transparent PNGs.

[2020-01-26 03:33] #144 closed, assigned to nobody

[2020-01-26 03:36] coobird commented on #140
Without any additional details, I'm guessing this is a duplicate of #41. There's a workaround mentioned toward the end of #41.

[2020-01-26 03:44] coobird commented on #136
[Exif](https://en.wikipedia.org/wiki/Exif) is metadata contained in image streams that support including Exif metadata. A [`BufferedImage`](https://docs.oracle.com/javase/8/docs/api/java/awt/image/BufferedImage.html) is an Java class which is essentially a buffer containing image data. `BufferedImage` is not a image format but rather a container for handling image data in Java, and does not includ

[2020-01-26 03:44] #136 closed, assigned to nobody

[2020-01-26 03:45] coobird commented on #129
No activity for over a year.

[2020-01-26 03:45] #129 closed, assigned to nobody

[2020-01-26 07:36] coobird commented on #135
Sorry for the late response. This appears to be a duplicate of #41.

You could try the workaround mentioned in https://github.com/coobird/thumbnailator/issues/41#issuecomment-330456553 -- basically add `.imageType(BufferedImage.TYPE_INT_ARGB)` to force Thumbnailator to process with transparencies enabled.

Hope this helps.

[2020-01-26 07:36] #135 closed, assigned to nobody

[2020-01-26 07:37] coobird commented on #128
No reply to follow-up for almost 2 years.

[2020-01-26 07:37] #128 closed, assigned to coobird

[2020-01-26 14:32] coobird commented on #127
No reply to follow-up question for close to 2 years. Closing.

[2020-01-26 14:32] #127 closed, assigned to nobody

[2020-01-27 14:39] coobird commented on #108
After a little bit of research, this appears to be an "issue" with the Java Image I/O's JRE-bundled JPEG reader being very strict about the well-formedness of the Exif metadata. As mentioned in [the comment](https://stackoverflow.com/questions/55150857/reading-jpeg-or-gif-metadata-with-javax-imageio#comment97063105_55150857) to this [Stackoverflow question](https://stackoverflow.com/questions/5515

[2020-02-11 14:56] #107 closed, assigned to coobird

[2020-02-11 14:56] #118 closed, assigned to coobird

[2020-02-19 21:47] Nick-IV opened #148 "Thumbnails.of() do not close output file on v0.4.9"
My test-cases was failed after moving on v0.4.9. Rollback on v0.4.8 restore functionality.

Here is simple test which allow to reproduce the issue:

    @Test
    public void failure() throws IOException {
        File tmpDir = new File(System.getProperty("user.dir") + "\\target\\tmp");
        String sourceDirString = System.getProperty("user.dir") + "\\src\\test\\resources";
        File dscfJpg

[2020-02-20 16:21] coobird commented on #148
Thank you for the report. I haven't reproduced the issue, but I did find the part that I suspect is causing this. I'll look into this very soon.

[2020-02-22 12:11] coobird commented on #148
This is likely to be an issue in Windows environments, since I've experienced a similar issue in the past with an input or output stream being left open. (I can't reproduce it in Linux.) A fix is in the pipeline, and I expect to get it out this weekend.

[2020-02-22 15:38] #148 closed, assigned to coobird

[2020-02-23 04:42] coobird commented on #124
I'll close this as a duplicate of #108.

[2020-02-23 04:42] #124 closed, assigned to nobody

[2020-02-23 04:43] coobird commented on #140
I'll close this as a duplicate of #41.

[2020-02-23 04:43] #140 closed, assigned to nobody

[2020-02-23 04:45] coobird commented on #112
Closing due to no activity for close to 3 years.

[2020-02-23 04:45] #112 closed, assigned to nobody

[2020-02-24 05:48] CLovinr opened #149 "Is it a bug for 'Thumbnails.of(...files)' that the file reference not being released?"
## Expected behavior
The reference of the file should be released when `Thumbnails.of(tempImgFile)` used.

## Actual behavior
After `Thumbnails.of(tempImgFile)...toFile(targetFile)`,the tempImgFile could not be deleted.

## Steps to reproduce the behavior
This is a simple test to reproduce the behavior：
[code]

## Environment

- OS vendor and version:Windows10
- JDK vendor and version:JDK8
- Thumb

[2020-02-24 11:21] coobird commented on #149
Thanks for the bug report. I found a place that's likely causing the issue!

[2020-02-24 14:20] #149 closed, assigned to coobird

[2020-02-24 14:20] coobird commented on #149
This should be fixed in 0.4.11. :)

[2020-03-31 21:57] 4javier opened #150 "Option to create thumbnail without extension"
## Expected behavior
Let the user choose if destination thumbnail name should got an extension or not.

## Actual behavior
Extension for output get selected from original image format type if this one doesn't match with the passed extension.
(Why??? If it matches, it gets used. If it doesn't matches, it gets used anyway because they're identical. Why not use it directly, ignoring the supplied exte

[2020-04-01 17:26] 4javier commented on #150
These are the changes I made to add the feature:
https://github.com/4javier/thumbnailator/tree/NoExt
Give them a look and tell me If you want me to issue a pull request.

Cheers.

[2020-04-11 07:04] coobird commented on #143
Reproduced issue on Windows.

[2020-04-11 07:08] coobird commented on #111
Basically, to be addressed in Issue #1.

[2020-04-11 07:08] #111 closed, assigned to nobody

[2020-04-13 23:09] ILyaCyclone opened #152 "Can I set max-size instead of just size? (Only scale down)"
First of all, really glad to see new Thumbnailator releases in 2020 after ~6 years of silence. Cheers!

I'd like to know if there is an option to restrict upscaling of images and only resize them down.
We plan to use Thumbnailator as dynamic on-fly resizer rather than for making static thumbnails, so in rare circumstances original image may be smaller than requested size.
What happens now is that

[2020-04-29 09:27] nrhope commented on #89
I had the same problem and found using this function before writing fixed my issue :

	public BufferedImage imageRemoveAlphaChannel(BufferedImage thumbnail) {
		// effectively convert _ARGB to _RGB, i.e. remove alpha / opacity channel
		BufferedImage newImage = new BufferedImage(width, height, BufferedImage.TYPE_INT_RGB);
		int[] rgb = thumbnail.getRGB(0, 0, width, height, null, 0, width);
		newIm

[2020-05-01 08:32] andreas-mausch commented on #127
I'd like to make a thumbnail of a single frame of a video (let's say .mp4 H264). Can I do this with thumbnailator?

[2020-05-13 21:31] leoviveiros commented on #152
I've tried a `ResizerFactory` returning a `NullResizer` without success, it still upscales the image.

[2020-05-26 18:12] osbald opened #153 "String comparison using '==', instead of 'equals()'"
While looking at the code in my IDE the linter plugin I use highlighted a number of lines in the code where direct comparisons == or != where being used to compare string instead of using Object.equals(). These are probally unintentional bugs.

I've attached a list of line numbers and what I think the fixes would look like:

[code]

Note: Also changed order of some of the comparisons above to avoi

[2020-05-29 11:29] osbald commented on #153
Closing this as minor. I think the issue is more the Java 5 compatibility? which I wasn't expecting. So you're using Strings here like they are enums. So long as users only ever use the predefined Thumbnailator constants the existing code will work. It's only if they go calling these 'internal' classes above with their own Strings things might go awry.

Enums would help make the API more explicit

[2020-05-29 11:29] #153 closed, assigned to coobird

[2020-05-29 12:14] osbald opened #154 "How do I position a scaled image while maintaining the aspect ratio?"
This is similar request to issue #24 but the solution there doesn't produce the result I'm after.

I'd like a thumbnail of a fixed size lets say 200x,200. Currently if I use size(200,200) and the source image isn't exactly square I can get a 200x150 thumbnail back due to the aspect ratio corrected fit.

What I'm after is the means to get that 200x200 image back, but with the smaller 200x150 correc

[2020-05-31 12:45] coobird commented on #154
What you're trying to accomplish is not exposed directly through the `Thumbnails` API, but it's possible through using the `Canvas` filter. (Which happens to be the filter used to implement `crop`.)

[code]

As long as the dimensions in `size` and the `Canvas` constructors are the same, the result is an image that's always 200 x 200 with the thumbnail placed inside of it. The color can be changed

[2020-05-31 13:00] coobird commented on #153
Just FYI, as bizarre as it may seem, the `==` are intentional; the constants you've pointed out are actually `null` values, so the comparison needs to be a `==` rather than `equals` which would actually lead to a NPE. (I definitely remember thinking to myself how bizarre the code looked when I was writing this.)

[2020-05-31 14:08] coobird commented on #152
@ILyaCyclone, unfortunately, the quick answer to your question is "no", not yet.

It's been brought up in the past as well, as issue #11.

I'll actually keep this ticket open, and supersede #11 with this ticket.

[2020-05-31 14:09] coobird commented on #11
Supersede with #152.
(The automatically imported issues are a little hard to read..)

[2020-05-31 14:09] #11 closed, assigned to nobody

[2020-05-31 19:13] ILyaCyclone commented on #152
Gotcha, thanks for your attention.

[2020-06-03 08:18] dphans commented on #127
@andreas-mausch I think NO. And from Android Q, you can use `ThumbnailUtils` directly, no need additional libraries:
For example:

[code]

[2020-06-07 09:25] coobird commented on #127
@andreas-mausch Probably no. Thumbnailator relies on the Java Image I/O to read images, and I'm not aware of an image reader that supports video files.

[2020-06-10 07:19] xujing1123 opened #155 "png The generated background is black"
## Expected behavior
_Please describe what you are expecting the library to perform._

## Actual behavior
_Please describe the actual behavior you are experiencing, including stack
trace and other information which would help diagnose the issue._

## Steps to reproduce the behavior
_Please enter step-by-step instructions for reproducing the actual behavior.
Including code can be helpful in diagnos

[2020-07-27 17:36] bagavathi-er opened #156 "Images are larger in JDK 11"
## Expected behavior
We upgraded our Project to JDK 11 and the thumbnail is getting created of size greater than the original image.
Could you please let me know, is there any plan for JDK 11 support?

## Actual behavior
_Please describe the actual behavior you are experiencing, including stack
trace and other information which would help diagnose the issue._

## Steps to reproduce the behavior
_P

[2020-08-12 15:01] coobird commented on #155
This ticket doesn't have enough information to reproduce the issue. Marking as invalid and closing.

[2020-08-12 15:01] #155 closed, assigned to nobody

[2020-08-12 15:04] coobird commented on #156
Can you elaborate on the size being greater? Is it the resulting file size that's greater? Or is it the dimensions of the image? What file format are you using?

There isn't enough information to understand the situation you're having. It would really help investigating further if you would provide information in the template with expected behavior, actual behavior and steps to reproduce the issue

[2020-08-13 03:45] xak2000 commented on #86
@coobird Thanks for the explanation!

Yes, this is how `.crop(Position)` works and this is definitely useful behavior. But what if I want just a simple crop, like the author of the issue?

By *simple crop* I mean just a crop from `X1, Y1` to `X2, Y2` coordinates of original image. Without any resize at all.

Example:

* 200 x 100 image and crop from `X1=50, Y1=50` to `X2=100, Y2=100` should create

[2020-08-13 04:17] xak2000 commented on #86
Nevermind, I found a solution!

`.sourceRegion(int x, int y, int width, int height)` FTW!

It does exactly what I described. And I can even do source cropping and `.crop()` cropping in one step, like:

        BufferedImage dstBufferedImage = Thumbnails.fromImages(Collections.singleton(srcImage.getBufferedImage()))
                .sourceRegion(180, 0, 413 - 180, 348)
                .crop(Positio

[2020-08-13 04:41] coobird commented on #86
I would have thought that using `scale(1.0)` would be enough, and that `Resizers.NULL` wouldn't be necessary... (It's been a while since I've actually played around that part of the code base.)

Did you find that the final image's dimensions (cropped image) were the same as the original image? (That's the only reason I can guess that would require `Resizers.NULL` as a workaround.)

Yeah, I probabl

[2020-08-13 19:54] xak2000 commented on #86
Honestly, I'm not sure why `Resizers.NULL` is required. I stole this "hack" from my old project. Maybe setting `scale` is really enough, and I did set `Resizers.NULL` just to be 100% sure that no processing other than I explicitly set will consume any CPU resources.

In my old project it looks like this:

        BufferedImage dstBufferedImage = Thumbnails.fromImages(Collections.singleton(srcImage

[2020-08-16 11:28] #143 closed, assigned to coobird

[2020-09-07 15:48] ArheusLis opened #157 "Unexpected alpha channel when using RGB colors and rotate"
## Expected behavior
Output got rgb colors scheme.

## Actual behavior
If I'm using rotation even with 0 - output become 32bit ARGB.

## Steps to reproduce the behavior
            Thumbnails.of(new File("source_1.bmp"))
                    .imageType(BufferedImage.TYPE_INT_RGB).scale(1).rotate(0).outputFormat("PNG")
                    .toFile(new File("expect.png"));
Output: 32 bit ARGB

[2020-09-15 02:38] 236xzl opened #158 "how can I save the exif to the new file?"
## Expected behavior
_Please describe what you are expecting the library to perform._

## Actual behavior
_Please describe the actual behavior you are experiencing, including stack
trace and other information which would help diagnose the issue._

## Steps to reproduce the behavior
_Please enter step-by-step instructions for reproducing the actual behavior.
Including code can be helpful in diagnos

[2020-09-18 14:44] dmitry-weirdo commented on #88
For me, it rotates the image with both `true` and `false` values of `useExifOrientation`. Image is 2268x4032 JPG.
I've created an issue here — https://github.com/coobird/thumbnailator/issues/159.

[2020-09-18 14:59] dmitry-weirdo opened #159 "Thumbnail image is always rotated, useExifOrientation parameter does not matter"
## Expected behavior
Image thumbnail is NOT rotated 90 degrees left.

## Actual behavior
If image has height more than width, it is rotated 90 degrees left.

![20200425_142028](https://user-images.githubusercontent.com/15837869/93612732-248dad80-f9d0-11ea-82fa-ecf2f37d787c.jpg)

![20200425_142028-thumbnail](https://user-images.githubusercontent.com/15837869/93612685-163f9180-f9d0-11ea-957e-275e315

[2020-09-18 15:20] dmitry-weirdo commented on #159
Looks like it's working for `File` and `InputStream`, but not working for `BufferedImage` of this file.

[code]

![thumbnail-buffered-image](https://user-images.githubusercontent.com/15837869/93615009-27d66880-f9d3-11ea-9440-72734b95018a.jpg)
![thumbnail-image-file](https://user-images.githubusercontent.com/15837869/93615022-2ad15900-f9d3-11ea-8b78-04a2beff6ff7.jpg)
![thumbnail-input-stream](https

[2020-09-18 16:59] coobird commented on #159
@dmitry-weirdo, Exif is metadata that's stored in certain image files. A `BufferedImage` does not contain Exif information. If you want to use Exif-based rotation, you will need to use either the `File` or `InputStream` as the input.

[2020-09-18 17:02] coobird commented on #157
@ArheusLis , thank you for reporting this.

This behavior seems to be incorrect.

[2020-09-18 17:04] coobird commented on #158
@236xzl, as of now, there is no feature to retain the Exif information in the output file.

I'm closing this as there is a separate issue to address this. (#52)

[2020-09-18 17:04] #158 closed, assigned to nobody

[2020-09-27 01:59] yeluowuhen52 opened #160 "Can thumbnailator support HEIC images?"
## Expected behavior
_Please describe what you are expecting the library to perform._
Support HEIC Images.

## Actual behavior
_Please describe the actual behavior you are experiencing, including stack
trace and other information which would help diagnose the issue._
I want to convert HEIC to JPG.
No suitable ImageReader found for D:\IMG_20200925_191853.HEIC.

## Steps to reproduce the behavior
_P

[2020-09-28 21:56] dmitry-weirdo opened #161 "java.lang.ArithmeticException: / by zero, probably only for -Dthumbnailator.conserveMemoryWorkaround=true"
## Expected behavior
Thumbnail is generated without any exceptions.

## Actual behavior
Lots of jpeg files (not all!) fail with the following exceptions:

[code]

## Steps to reproduce the behavior
I ran into constant OOM on big files (namely the 6000*4000 jpeg), so I ran the import with `-Dthumbnailator.conserveMemoryWorkaround=true`.
This prevents OOM, but big percentage of files fail with the a

[2020-09-28 21:58] dmitry-weirdo commented on #161
![WP_20170807_20_47_27_Pro](https://user-images.githubusercontent.com/15837869/94490349-65629f00-01e6-11eb-9c71-488f7b62e164.jpg)

This is an example image on which the exception occurs.

[2020-09-29 18:40] coobird commented on #161
@dmitry-weirdo, thank you for reporting this.

There's definitely some division happening, and I may have overlooked some possible division by zero situations. I can't address this immediately, but I'll try to follow-up on this as soon as I can.

[2020-10-02 19:00] crustycrabthe3rd opened #162 "Ability to modify insets of watermark position"
Would be nice if we were able to provide the insets for the watermark position. The way the code is right now, you can't take advantage of the inset parameters of the Position.calculate() method.

[2020-10-06 14:44] sunweihxh opened #163 "No suitable ImageReader found"
## Expected behavior
got a exception:net.coobird.thumbnailator.tasks.UnsupportedFormatException: No suitable ImageReader found

## Steps to reproduce the behavior
scale0_3 = new File(imagePath+File.separator+"scale0_3");

		scale0_6 = new File(imagePath+File.separator+"scale0_6");

		//Thumbnails.of(original).scale(0.3).toFile(scale0_3);
		//Thumbnails.of(original).scale(0.6).toFile(scale0_6);

[2020-10-08 21:46] jhspetersson commented on #150
+1

[2020-10-14 13:06] dmitry-weirdo commented on #163
Good day @sunweihxh!

You should post:

- the image on which the exception occurred.
- the full stacktrace of the exception.
- version of the thumbnailator used.

Most probably your image either has an unsupported format or is broken. AFAIR I had some exceptions on jpeg files that have broken EXIF info or something alike. I re-saved it with a graphic editor, after it the thumbnailator worked.
For

[2020-10-14 13:15] dmitry-weirdo commented on #161
@coobird Any progress on this issue?

[2020-10-14 15:30] coobird commented on #161
@dmitry-weirdo, I was hoping to take a look at it this weekend. I'll try to take a quick look at it now as well :)

[2020-10-14 16:31] coobird commented on #161
Reproduced issue; happens when `.width` or `.height` is called.

Hope to have a fix out this weekend.

[2020-10-15 01:31] sunweihxh commented on #163
### Thank you for your reminding. I used version 0.4.8. My error details are as follows：
net.coobird.thumbnailator.tasks.UnsupportedFormatException: No suitable ImageReader found for d:\images\image\courseUserWork\2020-10-15\xIVSkZlYEeGYhpNuokqG\original.
	at net.coobird.thumbnailator.tasks.io.FileImageSource.read(FileImageSource.java:118)
	at net.coobird.thumbnailator.tasks.SourceSinkThumbnailTas

[2020-10-17 16:13] #161 closed, assigned to coobird

[2020-10-17 16:17] coobird commented on #161
Fixed in 0.4.13.

[2020-10-17 16:32] coobird commented on #157
Fixed in 0.4.13.

[2020-10-17 16:32] #157 closed, assigned to coobird

[2020-10-23 03:21] szd1993 opened #164 "background-color was changed !!!"
original-img: http://img.alicdn.com/imgextra/i2/2208557321139/O1CN010mpNHj1KHhkOx2d6C_!!2208557321139.jpg

new-img: http://t00img.yangkeduo.com/openapi/images/2020-10-23/795a65accba9cfd8e318674e23ec5592.jpg

the backgroud-color was changed into red ！  why  ?   how to avoid it

[code]

[2020-10-27 16:07] coobird commented on #164
@szd1993, this particular case seems to be a problem with the JPEG reader that comes with Java.

You could try using the [TwelveMonkeys ImageIO library](https://github.com/haraldk/TwelveMonkeys) which was able to properly read the JPEG image you posted. Basically, it's as simple as adding a Maven dependency to your project.

[2020-10-27 16:19] coobird commented on #160
Thumbnailator depends on the [Java Image I/O API](http://docs.oracle.com/javase/7/docs/technotes/guides/imageio/) to read and write images. Since Java does not come bundled with a HEIC image reader, you'll need to find a Image I/O API compatible image reader that supports HEIC.

A quick search did not yield any results for an Image I/O HEIC reading plugin, so you'll need to rely on another solutio

[2020-10-27 16:19] #160 closed, assigned to nobody

[2020-10-27 16:21] coobird commented on #159
I'm closing this issue as it is expected behavior. Please refer to my [previous comment](https://github.com/coobird/thumbnailator/issues/159#issuecomment-694978197) for why rotation based on Exif won't work in the code you originally posted.

[2020-10-27 16:21] #159 closed, assigned to nobody

[2020-10-27 16:40] coobird commented on #163
@sunweihxh The file you uploaded is a WebP image. (Despite the "jpg" extension it wasn't a JPEG.)

Thumbnailator relies on the Java Image I/O API's image reading and writing facilities, which does not have support for WebP out-of-the-box. In order to use WebP, you'll need to find a compatible Image I/O plugin.

There appears to be some options for using WebP from Java Image I/O which you'll be abl

[2020-10-27 17:21] pavel-klavik opened #165 "Broken colors when processing PNG"
## Expected behavior

The colors in hungary_broken.png are broken. They should be the same as in hungary.png.

## Actual behavior

The images:

[hungary.png](https://orgpad.com/img/CwOEdPi9tBUrwCrb1cMAKs/download?token=AIXA1cV1dHDbSdKxbYXgD1)
[hungary_broken.png](https://orgpad.com/img/CwOEdPi9tBUrwCrb1cMAKs?token=AIXA1cV1dHDbSdKxbYXgD1)

## Steps to reproduce the behavior

I am running the follow

[2020-10-27 17:59] coobird commented on #165
For this particular case, it appears that the input image (PNG) is using an indexed color palette. It's been observed in the past that in this mode, the processed image can end up with a dithering effect.

One can avoid this dithering effect by forcing Thumbnailator to use a image mode with more colors. For example, the following will force Thumbanailator to use the 32-bit color mode (RGB with alp

[2020-10-27 19:37] pavel-klavik commented on #165
Does this setting work for all PNG images? I am using this to automatically convert images uploaded by users. I don't really care whether the generated file will be slightly larger.

[2020-10-28 01:54] yeluowuhen52 commented on #160
Thanks for your reply.Android have the class 'android.graphics.ImageDecoder' whitch can convert HEIF pictures to JPG pictures.

[2020-10-28 10:07] coobird commented on #165
@pavel-klavik, I can't guarantee anything, but it'll likely work better than not specifying `.imageType`.

[2020-10-29 07:21] sunweihxh commented on #163
@coobird @dmitry-weirdo thanks a lot.

[2020-10-29 07:21] #163 closed, assigned to nobody

[2020-11-10 07:43] bby0 commented on #164
excuse me，There is no solution，I use all TwelveMonkeys jar in the maven @coobird

[2020-11-11 11:23] LoveUpe opened #166 "hey,when do you will refactor the core logic to support big pic?"
## Expected behavior
_Please describe what you are expecting the library to perform._
at 0.4.8 version, you say u need some time to resfactor project to support big file. i wanna to know ,how long?:)

## Actual behavior
_Please describe the actual behavior you are experiencing, including stack
trace and other information which would help diagnose the issue._

## Steps to reproduce the behavior
_Pl

[2020-11-15 17:07] coobird commented on #166
Given I have a limited amount of time, fixing known bugs are given the highest priority. Rearchitecting to support large image files more effectively is lower in the list of priorities.

[2020-11-15 17:07] #166 closed, assigned to nobody

[2020-11-15 17:13] coobird commented on #83
Closing due to no activity.

[2020-11-15 17:13] #83 closed, assigned to nobody

[2020-11-15 17:14] coobird commented on #165
Closing as duplicate of #26.

[2020-11-15 17:14] #165 closed, assigned to nobody

[2020-11-16 11:34] WangJincheng4869 opened #167 "请问如果压缩gif才能保持gif的动画呢？"
## Expected behavior
_Please describe what you are expecting the library to perform._

## Actual behavior
_Please describe the actual behavior you are experiencing, including stack
trace and other information which would help diagnose the issue._

## Steps to reproduce the behavior
_Please enter step-by-step instructions for reproducing the actual behavior.
Including code can be helpful in diagnos

[2020-11-16 11:47] szd1993 commented on #164
Image imageTookit = Toolkit.getDefaultToolkit().createImage(new URL(imageUrl));
        BufferedImage sourceImg = toBufferedImage(imageTookit);

       public static BufferedImage toBufferedImage(Image image) {
        if (image instanceof BufferedImage) {
            return (BufferedImage) image;
        }
        image = new ImageIcon(image).getImage();
        boolean hasAlpha = false;

[2020-11-16 12:00] szd1993 commented on #164
bimage = gc.createCompatibleImage(image.getWidth(null), image
                    .getHeight(null), 1);

this line  'Transparency.OPAQUE;'

[2020-11-16 14:04] coobird commented on #167
Thumbnailator does not support animated images (such as animated GIF) right now. Hopefully it will be supported in the future.

Closing as a duplicate of #30.

[2020-11-16 14:04] #167 closed, assigned to nobody

[2020-11-17 05:44] WangJincheng4869 commented on #167
gif压缩我只想到了抽帧的方式，希望这个工具以后会支持！

[2020-11-21 01:42] #73 closed, assigned to nobody

[2020-11-21 01:45] #25 closed, assigned to nobody

[2020-12-01 20:20] thiagoalgeri commented on #164
Please, we have the same issue!!

[2020-12-01 22:29] coobird commented on #164
The workaround to use `Toolkit` may work fine for certain narrow use cases, but is only a workaround and is not a solution that uses the Java Image I/O API, so it won't support use of other image formats. It's not a generalized solution that can be incorporated into Thumbnailator, since it's relied on for many different use cases.

If the workaround works well for you, then that may be a good appr

[2020-12-01 22:29] #164 closed, assigned to nobody

[2020-12-08 15:33] Emmenemoi commented on #108
Even when we include TwelveMonkeys it is not enough for ExifUtil.getExifOrientation to work reliably.
Below is how we detect ExifOrientation using JPEGSegmentUtil from TwelveMonkeys. Works like a charm even on Samsung SM-G973F, where ExifUtil.getExifOrientation fails.

[code]

[2020-12-26 11:56] bajajsahil commented on #108
I have an image of 622 X 1280 clicked from Samsung S9 mobile. When I am trying to resize it with ```forceSize(150, 150)```, the image is getting rotated automatically to 90 degrees anti-clockwise. Then I tried using the ```useExifOrientation(true)``` but still the same result. And, while debugging I am seeing the same exception listed in this issue.

I tried including the **TwelveMonkeys** but sti

[2020-12-28 19:40] axelfontaine commented on #114
In case this helps, here is the code I use for this (the example is in Kotlin, but it should be easy to translate it to Java):

[code]

[2020-12-29 04:26] php-coder commented on #134
BTW Shenandoah GC (see https://dzone.com/articles/choosing-the-right-gc) can also give unused memory back to OS (without System.gc() call).

[2021-01-04 23:10] carldea opened #169 "Take advantage of GitHub CI's free runners to build and test the project."
## Enhancement
Build using GitHub CI instead of Travis or along with Travis.

The following is the PR that builds and tests whenever there is a push event.
https://github.com/coobird/thumbnailator/pull/168

[2021-01-12 05:02] johnbonds commented on #108
Just for the record, including TwelveMonkeys JPEG in my deps worked for me...
[code]

[2021-01-26 02:09] Art2Cat commented on #156
I have the same issue.
All below cases base on Windows 10 and Thumbnailator latest version.

size: 1.4MB
format: png
dimessions: 1500x3356

* Case 1 use JDK 1.8:
  JDK 1.8.0-261 output 266.5KB  image file.

* Case 2 use JDK 11:
  JDK 11.0.9.1 output  1.6MB image file.

[2021-02-02 19:49] arianox commented on #89
same problem...

[2021-02-05 03:13] MA-Aaron opened #170 "Is there some methods to determine the size of the compressed image?"
Hi,

I'm using this fantastic library in my project to compress images. May I know is it possible to determine the size of the output image? For example, compressing every image to 200k.

Kind Regards,
Aaron

[2021-02-20 15:42] coobird commented on #170
Not with Thumbnailator.

There's no good way to determine the output image size before compressing the image. Even after the compressed image is created, it's basically a trial-and-error process, since the Java Image I/O API (which Thumbnailator relies on) only provides a `0.0f` to `1.0f` range of compression levels. As such, it's going to be difficult (if not impossible) to hit a particular file

[2021-02-20 15:42] #170 closed, assigned to nobody

[2021-02-22 04:22] goooong opened #171 "The image becomes larger after compression"
code:
File file = new File("bailu.jpg");
Thumbnails.of(file).outputQuality(0.9d).scale(1d).toFile("bailu2.jpg");

before size :73kb
after size :76kb

[2021-02-22 04:24] goooong commented on #171
before:
![bailu](https://user-images.githubusercontent.com/44569285/108662209-cded4800-7508-11eb-9468-7cf686e36e8c.jpg)
after:
![bailu2](https://user-images.githubusercontent.com/44569285/108662234-dd6c9100-7508-11eb-8af6-e786a8c53c95.jpg)

[2021-02-23 09:57] coobird commented on #171
File sizes increasing for the same size image is completely expected when using JPEG.

There can be a couple of reasons for this -- first, if the original JPEG is using a lower quality setting (i.e. lower compression quality) the resulting image can be a larger file size. Second reason, even if the original image and the resulting image both were using the same quality setting, saving a JPEG again

[2021-02-23 09:57] #171 closed, assigned to nobody

[2021-02-23 11:27] goooong commented on #171
thank you.

[2021-03-03 15:24] chuckdumont opened #172 "Offer thumbnailator under a standard open source license"
## Expected behavior
thumbnailator is available under one or more of the standard open source licenses (e.g. Apache 2, MIT, etc.).

## Actual behavior
thumbnailator is only  available under a proprietary license.  This restricts it's use since many commercial products that use open source code don't want to deal with proprietary licenses.  I, for one, would love to use this package, but the compan

[2021-03-03 16:37] coobird commented on #172
Have you taken a look at [LICENSE](https://github.com/coobird/thumbnailator/blob/master/LICENSE)? Thumbnailator is licensed under an OSI-approved license.

[2021-03-03 17:17] chuckdumont commented on #172
I did take a look.  I see a copyright statement and the terms of the license.  Note that it's not an issue with the license terms.  The terms you specify sound perfectly reasonable to me.  It's a book keeping issue.  Large companies like mine don't want to pay their lawyers to review and approve hundreds of individual licenses.  They have a list of licenses that have been pre-approved and can be u

[2021-03-03 17:42] coobird commented on #172
It's the MIT License. Not sure why this is considered a "one-off" license.

... Unless you're referring to the header line included at the top of `LICENSE`? If that's the case, I can consider removing it.

[2021-03-03 18:21] coobird commented on #172
Pushed change to `master` which hopefully is a bit more clear that Thumbnailator is released under the MIT license.

[2021-03-03 18:57] chuckdumont commented on #172
That actually makes all the difference.  Note that header that github now displays when viewing the license.  Thanks much.

[2021-03-03 18:57] #172 closed, assigned to nobody

[2021-03-05 20:49] chuckdumont commented on #172
@coobird - any forecast on when we can get a new release with the license update?

[2021-03-06 01:08] coobird commented on #115
Closing issue as there appears to be little interest in this issue.

[2021-03-06 01:08] #115 closed, assigned to coobird

[2021-03-07 17:01] coobird commented on #172
@chuckdumont Hopefully in a day or two.

[2021-03-10 19:02] coobird commented on #162
Feature released in 0.4.14.

[2021-03-10 19:02] #162 closed, assigned to coobird

[2021-05-27 07:45] Sohnny0 commented on #81
WebP images will report this error

[2021-05-28 15:43] hungbang commented on #132
is there any update about this?

[2021-05-28 23:11] mirraj2 commented on #66
This is just bad API design.  If someone passes you a File object, just save to that File.  Don't save to a different file.

[2021-06-04 03:29] zth1993 opened #173 "No suitable ImageReader found for source data."
## Expected behavior
_Please describe what you are expecting the library to perform._
when i toOutputStream a webp pic,that i has this error.

## Environment
- OS vendor and version:
- JDK vendor and version:  11.0.11
- Thumbnailator version:0.4.13

[2021-06-17 10:39] mesterjagels commented on #156
@coobird Any update on this? I have a similar issue even when scaling images down to smaller sizes

when using following setup

`Thumbnails.of(byteArrayInputStream).size(300, 200).keepAspectRatio(false).antialiasing(Antialiasing.ON).outputQuality(.1f).toOutputStream(byteArrayOutputStream);`

Changing the `outputQuality` only slightly impacts the file size

[2021-06-18 10:56] rocboronat opened #174 "Would it be easy to generate circular images?"
Just a question :·)

[2021-06-20 11:16] coobird commented on #174
@rocboronat, I'm not sure what you're asking for. Could you be more specific?

[2021-06-20 11:31] rocboronat commented on #174
Hello! I'm requesting a feature: making the images round. Crop the image in a circular shape.

It's something so used when working with thumbnails, at least on apps.

I did it on my own code but maybe it would be useful do to it here. If you are open to it, I could make a PR 😊

[2021-06-20 12:06] coobird commented on #156
@mesterjagels, what you're experiencing is unlikely to be related with this issue. It's quite possible that scaling down images can lead to larger file sizes, especially for cases where the image dimensions isn't changed much, and lossless compression is being used.

This is because resizing images can affect the compressibility of the image. This is especially true with anti-aliasing enabled, lea

[2021-06-20 12:36] coobird commented on #156
@Art2Cat and @bagavathi-er, this issue may be due changes in the Java's PNG writer in Java 9.

After [a bit](https://github.com/gredler/jdk9-png-writer-backport) [of research](https://bugs.openjdk.java.net/browse/JDK-6488522), it appears that prior to Java 8, the compression level was always set to high, but from Java 9, the default compression level for a better balance of speed and resulting ima

[2021-06-23 16:30] php-coder commented on #156
@coobird In other words, this issue is only related to PNG format and doesn't affect JPEG.

[2021-07-03 09:07] coobird commented on #156
@php-coder For this particular issue, only PNG is being mentioned, and there's evidence that the PNG writer after Java 9 has different defaults which is leading to lower compression than Java 8 and earlier.

[2021-07-03 09:46] coobird commented on #173
@zth1993, please refer to the [FAQ](https://github.com/coobird/thumbnailator/wiki/FAQ).

You can also find more context in terms of WebP in this [comment](https://github.com/coobird/thumbnailator/issues/137#issuecomment-578464544).

[2021-07-03 09:46] #173 closed, assigned to nobody

[2021-08-14 09:58] Paper-Folding commented on #150
I needs this feature! It is too tried for me to rename files after I have generated thumbnails!  Why not the developer merge your pull request???

[2021-08-15 18:09] 4javier commented on #150
I didn't actually submit the pull request because I didn't get any response by the author, tbh.
Anyway, activity on this repo is kinda low, so I think that the feature is not considered important enough to test it.

[2021-08-16 02:12] Paper-Folding commented on #150
Fine, I should have added your code to the source code in my project, but as I am using maven, I guess I had better add some of code to rename files after thumbnails have generated. However, thanks for you work anyway.

[2021-09-01 14:24] micMalloc commented on #171
@coobird  Hello, I'm Heesu.
I would like to ask if it is the same for PNG.
Thanks.

<Code>
Thumbnails.of(input).scale(1.0f).outputQuality(0.85f).toFile("/Users/we/Desktop/output.png");

Before size: 18122
After size: 279584

[input image]
![input](https://user-images.githubusercontent.com/22839766/131688686-54643d23-eefd-4956-ab26-9215a21f5fb9.png)

[output image]
![output](https://user-images.git

[2021-09-02 21:28] pedrombmachado opened #175 "Creating javadocs through `mvn package` causes a Maven build error"
## Expected behavior
generation of the jar file without errors

## Actual behavior
[code]

## Steps to reproduce the behavior
run `mvn package`

## Environment
java 8 and

pache Maven 3.8.2

- OS vendor and version:
- Ubuntu 20.04
- JDK vendor and version:
- 8.0.302.fx-zulu
- Thumbnailator version:
- current

[2021-09-06 02:47] yf718 opened #176 "ERROR in groovy script"
## Expected behavior
_Please describe what you are expecting the library to perform._

groovy version: 2.4.15, here is code:

def String compressPicAndToBase64(String url) throws IOException {
    ByteArrayOutputStream os = null;
    try{
        os = new ByteArrayOutputStream();
        Thumbnails.of(new URL(url)).scale(1f).outputQuality(0.1).toOutputStream(os);
        return Base64.getEncoder()

[2021-09-06 03:10] #176 closed, assigned to nobody

[2021-09-11 17:23] coobird commented on #175
Thank you for filing this issue, @pedrombmachado!

This is due to Java 8 introducing doclint. Something will be done to fix this.

[2021-09-11 21:32] pedrombmachado commented on #175
Thanks @coobird

[2021-09-21 13:15] rider87 opened #177 "Allow setting margins (insets) for watermarks"
Hi all,

Is there a possibility to have margin for the watermark?
Like you maybe know from Lightroom?

Please see this example... There is a space between bottom and left side...
Is this also possible?

![image](https://user-images.githubusercontent.com/9787533/134177075-b02ec183-a060-44a1-ae65-466a87c37383.png)

[2021-09-21 13:29] rider87 commented on #177
I believe it´s just to adjust this code:
![image](https://user-images.githubusercontent.com/9787533/134179280-369a2c52-a241-4408-9c13-6de803d08f2a.png)

Currently only one value is there...
Can we do margin for
- top
- bottom
- right
- left

[2021-09-21 13:44] rider87 opened #178 "Rotate Caption / Watermark"
Hi,

I want to rotate the text of my Watermark...
How is this possible?

Thanks

[2021-09-21 15:41] coobird commented on #177
Are you asking whether it's possible to have top/bottom/left/right margins to be set independently? If that's the case, as you found in the code, right now that's not possible.

[2021-09-21 15:42] rider87 commented on #177
yes, correct.... currently I can see to set only one value for all (top/bottom/left/right)...

Can this be implemented?
I believe there needs just to add 3 addtional parameters to the function...

[2021-09-21 15:46] coobird commented on #178
You could pre-rotate an image and use it as a watermark.

[code]

Generally, watermarks are static, so any kind of processing necessary on the watermark can be performed ahead of time. The `watermark` methods reflect that common use case.

[2021-09-30 03:46] NathanSweet opened #179 "Bicubic scaling looks like bilinear"
## Expected behavior
Using `ScalingMode.BICUBIC` and downscaling to 50% I expect the output to be scaled using bicubic filtering.

## Actual behavior
The scaled image looks poor, like bilinear was used. The expected image is Photoshop's bicubic. The actual image looks like Photoshop's bilinear.
![](http://n4te.com/x/2547-JkXG.png)

## Steps to reproduce the behavior
Code below and this image file:

[2021-10-05 02:50] NathanSweet commented on #179
Seems like `getScaledInstance` with `SCALE_AREA_AVERAGING` is the only sure way to get better results than bilinear.

[2021-10-06 04:02] Paper-Folding commented on #40
I encountered the same problem, if converting image to rgb via photoshop, the problem disappears.

[2021-10-07 12:36] Boldbayar commented on #159
IT is also happening when i work with FIle aswell,
`Thumbnails.of(targetLocation.toFile())
					.useExifOrientation(true)
					.size(320, 320)
					.keepAspectRatio(true)
					.outputFormat("jpg")
					.toFiles(Rename.PREFIX_DOT_THUMBNAIL);
					response.setThumbnailPath("thumbnail." + fileName);`

[2021-10-19 06:02] Art2Cat commented on #156
I compared PNGImagerwriter source code between jdk 8 and jdk 11. In jdk 8 the default deflater compression level is 9 (it's hard code) ,  while in the jdk 11 the value is 4. In the jdk 11 deflater level changes when the compressionMode set to ImageWriteParam.MODE_EXPLICIT.
here is the relative code snippet:

[code]

[code]

[code]

[code]

[code]

[2021-10-24 18:23] bhupendersinghh opened #181 "Does thumbnailator support thumbnail generation for pdf files?"
I want to generate images for pdf files containing multiple pages. Is there a way to leverage thumbnailator for that?

[2021-10-25 16:34] coobird commented on #181
Short answer is no.

Long answer is, if you're able to make a image from a PDF, then yes, you can use Thumbnailator to make a thumbnail of that image. I found [an answer in StackOverflow](https://stackoverflow.com/a/4995102) saying that [PDFBox](https://pdfbox.apache.org/) can create images, and it sure seems like [`PDFRenderer`](https://pdfbox.apache.org/docs/2.0.3/javadocs/org/apache/pdfbox/rend

[2021-11-03 07:53] MaxMuhachev opened #182 "Neon sign fade color in jpeg image after resize"
## Expected behavior
Neon sign does not fade color in jpeg image

## Actual behavior
The letters on the neon sign are fading color.
There is no color fading only if there is a record to the file via png

## Steps to reproduce the behavior

Original image: https://disk.yandex.ru/i/LkfddI1emi-xnA (The letters on the neon sign are fading color)
Second example: https://disk.yandex.ru/i/EQ9xf88fLVFHUw

[2021-11-03 18:22] coobird commented on #182
@MaxMuhachev, have you tried using the `toFile` method rather than the `asBufferedImage`?

For example:

[code]

I couldn't tell if the "original image" is the actual source or the output from Thumbnailator, but my guess from the fact the issue is with a JPEG image (and not PNG) and when it's saved from a `BufferedImage` via `ImageIO.write`, it leads me to believe it's a known issue with the JPEG

[2021-11-07 17:53] MaxMuhachev commented on #182
@coobird
Unfortunately, using the `toFile` method does not help to solve the problem. Everything remains as I described above.

Only now I use it:
`Thumbnails.of(from)`
 `                    .forceSize(width, height)`
`                    .outputQuality(1f)`
`                    .outputFormat("jpg")`
`                    .scalingMode(ScalingMode.PROGRESSIVE_BILINEAR)`
 `                   .alphaIn

[2021-11-09 05:02] MaxMuhachev commented on #182
@coobird, please, help

[2021-11-15 18:53] coobird commented on #182
@MaxMuhachev, one possibility is that the JPEG reader that's bundled with Java is having issues properly reading that JPEG image. Have you tried using the [TwelveMonkeys ImageIO plugins](https://github.com/haraldk/TwelveMonkeys)? The JPEG plugin does a better job handling a wide range of JPEGs than the one bundled with Java.

[2021-11-16 20:34] cluth17 commented on #181
I was able to accomplish this with the following code:

[code]

[2021-11-23 14:06] coobird commented on #179
@NathanSweet, have you tried using `BufferedImage.TYPE_INT_ARGB`?  I suspect that Java's Graphics2D rendering pipeline may act differently based on the image type that's being used. And yes, as you mentioned the black box nature of this pipeline makes it hard to chase these issues.

[2021-11-23 14:15] coobird commented on #177
I'm hesitant to add yet another overload for the `watermark` method to the Thumbnailator API, especially one that has 7 arguments. That said, I'll keep this issue open as this sounds like a valid use case.

[2021-11-23 14:20] coobird commented on #169
Thanks for the suggestion. Since Thumbnailator targets Java 5+ (GitHub CI supports Java 8, 11 and 12 only), I'm running CI on a local system to exercise each of the targeted versions.

[2021-11-23 14:20] #169 closed, assigned to nobody

[2021-11-23 14:59] carldea commented on #169
no problem. Actually zulu does support Java 6-18, but not 5 (i don't believe)

[2021-12-05 12:36] coobird commented on #175
This issue has been corrected in 0.4.15.

[2021-12-05 12:36] #175 closed, assigned to nobody

[2021-12-05 12:38] coobird commented on #156
This issue has been corrected in 0.4.15 by including a workaround to mimic Java 8 behavior when the default PNG writer is detected.

[2021-12-05 12:38] #156 closed, assigned to nobody

[2021-12-12 18:25] coobird commented on #108
A fix for this issue (workaround for the default JPEG reader's strict behavior) is available in the [snapshot repository](https://github.com/coobird/thumbnailator/wiki/Maven) as `0.4.16-SNAPSHOT`.

[2021-12-12 18:26] coobird commented on #125
Closing for no activity.

[2021-12-12 18:26] #125 closed, assigned to coobird

[2021-12-18 10:57] AdmireWhite opened #183 "Compressed picture speed"
It takes me 5 seconds to compress a 3M image quality set to 0.2F zoom in 1f, is this speed normal?

[2021-12-18 11:54] coobird commented on #183
Without a code snippet, it's a bit difficult to understand how you're using Thumbnailator, but I'm going to assume you're using `.scale(1f)` and `outputQuality(0.2f)`. Without a image format, I'm just going to assume JPEG.

Since I don't have enough information about you're using Thumbnailator (like image format, image _dimensions_, etc.), I cannot give Thumbnailator-specific tips, but as a genera

[2021-12-18 12:02] AdmireWhite commented on #183
code: Thumbnails.of(file).scale(1f).outputQuality(0.2f).toFile(file);

[2021-12-18 12:05] AdmireWhite commented on #183
Hello, I have tried many pictures, but the speed is quite slow, which does not meet my expectation. I would like to ask, have you made statistics on the speed of compression? What would the result look like？

[2021-12-18 12:37] coobird commented on #183
You've yet to mention information about your source files. It's hard to give more specific advice without that information. Everything depends on the conditions on which the software is running in.

Note that Thumbnailator is just a wrapper around Java's Graphics2D and Image I/O facilities. The compression speeds completely depend on the Image I/O codecs used which Thumbnailator has no control ove

[2021-12-18 12:55] coobird commented on #183
By the way, have you checked the garbage collection activity on your program? Slow Java programs can be a result of large amount of GC, which can be a result of a insufficient heap. The worst case memory usage under `.scale(1f)` is like this:

[code]
where each image size is calculated by `4 * imageWidth * imageHeight` bytes. For a typical 10 megapixel image (3648 x 2736), the single image require

[2022-01-04 13:23] coobird commented on #108
Fixed in 0.4.16.

[2022-01-04 13:23] #108 closed, assigned to coobird

[2022-01-18 08:41] javaofferss opened #184 "No suitable ImageReader found for source data."
## Expected behavior
net.coobird.thumbnailator.tasks.UnsupportedFormatException: No suitable ImageReader found for source data.
	at net.coobird.thumbnailator.tasks.io.InputStreamImageSource.read(Unknown Source)
	at net.coobird.thumbnailator.tasks.SourceSinkThumbnailTask.read(Unknown Source)
	at net.coobird.thumbnailator.Thumbnailator.createThumbnail(Unknown Source)
	at net.coobird.thumbnailator.Th

[2022-01-18 08:44] javaofferss commented on #184
file type is svg

[2022-01-18 14:15] coobird commented on #184
Thumbnailator is a library that works on top of the Java Image I/O API. Since Java by default does not support SVGs, you'll need to use a third-party image reader/writer for SVG to open them.

For more information, please refer to the [FAQ](https://github.com/coobird/thumbnailator/wiki/FAQ). (TwelveMonkeys ImageIO appears to have support for SVGs.)

[2022-01-18 14:15] #184 closed, assigned to nobody

[2022-01-18 16:44] marcioaguiar commented on #150
You can use ```toOutputStream``` for that:

[code]

[2022-01-18 17:03] coobird commented on #147
Closing for no activity.

[2022-01-18 17:03] #147 closed, assigned to nobody

[2022-01-19 02:59] Paper-Folding commented on #150
What if I pass in a folder?

[2022-01-26 02:41] bikerr opened #185 "identifier may not be blank"
An error is reported when I execute this code with the [image](https://user-images.githubusercontent.com/14155359/151094865-c7461579-c271-4406-af65-4f85249174c4.jpg)

[code]
[code]

[2022-01-26 10:02] coobird commented on #185
@bikerr There's not enough information about your environment to reliably reproduce the issue.

Which version of Thumbnailator, TwelveMonkeys and Java are you using?

I've tried with 0.4.16, 3.8.1, 8 respectively, and have been unable to reproduce this using the image provided.

What are the types for `src` and `dst`? Are they `String` or `File`?
What is the value for `dst`? Does it end with a "jp

[2022-01-26 10:13] bikerr commented on #185
@coobird
src and dst are both end with `jpg` `File`

The environment is :
[code]

[2022-01-26 11:47] coobird commented on #185
@bikerr OK, I was able to reproduce it using TwelveMonkeys ImageIO 3.3.

This appears to be an issue with TwelveMonkeys ImageIO library rather than Thumbnailator.

In fact, seems like this behavior is not triggered in TwelveMonkeys ImageIO 3.4, so maybe you should consider updating your dependencies, if possible. (As I mentioned earlier, the latest version 3.8.1 also didn't exhibit this behavior.)

[2022-01-26 11:47] #185 closed, assigned to nobody

[2022-02-08 19:52] goodale commented on #184
I'm having this same issue with PNG files.  Something seems to have changed as this library worked fine for PNG files for a long while

[2022-02-09 11:41] coobird commented on #184
Hello @goodale, could you provide a bit more detail on what you're having issues with? Which version of Thumbnailator and Java are you using? Also a snippet of how Thumbnailator is being used would be nice to know. (Especially what type of input, like `InputStream` or `File`, and what kind of output as well.)

[2022-02-09 17:05] goodale commented on #184
For security best practices I was trying to use Java's tempfile utility
class.   The issue appears to be related to that.    After i reverted my
code to use a standard file it worked ok

*This code failed:* public static void resize(FileItem fi, String fileName)
{
    File tmpFile= File.createTempFile("tmp","png");
   Thumbnails.of(fi.getInputStream()).size(327, 36).addFilter(new
Canvas(66, 36, Po

[2022-02-09 17:34] coobird commented on #184
@goodale The indicated changes on shouldn't be the cause for a "No suitable ImageReader found for source data" error because your changes are only on the output side of things.

One thing that will affect the behavior is the latter one provides a hint to Thumbnailator to save as a PNG because you're using a  `.png` extension, while the former example doesn't. (It adds a `png` suffix to the file na

[2022-02-09 17:42] goodale commented on #184
Thanks for the quick reply.   I thought I was already setting the 'png'
extension when i tried to create the temp file, but that didn't work.

File tmpFile= File.createTempFile("tmp","png");
Thumbnails.of(fi.getInputStream()).size(327, 36).addFilter(new Canvas(66,
36, Positions.TOP_RIGHT, true)).toFile(tmpFile); InputStream is = new
FileInputStream(tmpFile);

I'll try your outputFormat("png")
<htt

[2022-02-11 14:08] coobird commented on #113
Added [an example](https://github.com/coobird/thumbnailator/wiki/Examples#forcing-thumbnails-to-be-exactly-the-specified-size) in the Examples page.

[2022-02-11 14:08] #113 closed, assigned to coobird

[2022-02-11 14:22] coobird opened #186 "By default, do not change file extensions when it doesn't match output format's"
## Expected behavior
When giving a `File` (or `File`s) to the `toFile` (or `asFile` and their plural forms), the thumbnail file name should be exactly the files that are provided.

## Actual behavior
If the `File`'s extension does not match the output format name, then the "correct" extension is appended.

## Steps to reproduce the behavior
[code]

When a JPEG file is the input, then the output fi

[2022-02-11 14:26] coobird commented on #186
This is intended behavior in Thumbnailator right now.

However, as seen in #150 and #66, this can be unexpected and undesirable behavior. This behavior should be configurable and by default, it's better to not make changes to the output file name automatically. (To reduce the principle of least surprise.)

This behavior change would be a fairly large breaking change. Therefore, it would have to be

[2022-02-11 14:30] coobird commented on #66
@mirraj2, in hindsight, yes, this was a bad choice. However, changing this behavior would be a fairly big behavioral change of the library, so I'll have to do this in a version like 0.5.0.

This issue has been superseded by #186.

[2022-02-11 14:30] #66 closed, assigned to nobody

[2022-02-11 14:32] coobird commented on #150
This ticket brings up good points, so I'm considering for a later version (such as 0.5.0) where breaking changes wouldn't impact existing consumers of this library.

Superseding with #186.

[2022-02-11 14:32] #150 closed, assigned to nobody

[2022-02-17 09:52] JayJayBinks opened #187 "Code improvement large images - OutOfMemoryError"
## Expected behavior
When uploading multipe large images (5000x7000) the resizing fails with OutOfMemoryError described in #1

## Actual behavior
Resizing of multipe large images images is successfull

## Environment

- OS vendor and version: Linux (app limited to 2.5 GB)
- JDK vendor and version: OpenJDK 11
- Thumbnailator version: 0.4.17

## Extended description
Hi,

i am asking for help regardi

[2022-02-21 16:03] coobird commented on #187
@JayJayBinks, while the `thumbnailator.conserveMemoryWorkaround` could help, it does have a hardcoded lower bound to use at least a 600 x 600 image as the source. (The workaround uses "subsampling" settings to read the source image in a smaller dimensions to start with, then does the actual resize.)

In this particular case, it looks like you're resizing the original image (`byte[] uploadedImage`)

[2022-03-05 09:26] coobird opened #188 "Atomic operations for bulk processing"
When bulk processing operations like `toFiles` encounters an error part way through processing the input files, it will still output files that have been processed successfully, but will stop and not process the rest. This may be undesirable under certain circumstances, as it is basically partial state.

By having an option to enable "atomic" or "transactional" operations (i.e. you get everything

[2022-03-05 09:32] coobird opened #189 "Option to ignore errors during bulk processing"
Currently, bulk processing like `toFiles` will halt as soon as any errors occur, such as file not existing. An option to ignore such errors (with a callback to provide which inputs failed) would be useful to continue processing input files in cases where it makes sense to continue processing the rest of the input.

Maybe a mutually exclusive to #188.

[2022-03-12 18:09] coobird commented on #40
Support for CMYK JPEGs would require writing a JPEG reader that supports it, which is outside the scope of Thumbnailator. (Thumbnailator is a wrapper around the Java 2D and Image I/O APIs.)

[TwelveMonkeys ImageIO](https://github.com/haraldk/TwelveMonkeys) provides an excellent alternative to Java's default JPEG reader/writer, which can deal with CMYK JPEGs

[2022-03-12 18:09] #40 closed, assigned to nobody

[2022-03-24 09:17] Herewell opened #191 "the compressed image is abnormal"
hi,
I found a problem as follows:
When I use the code below to compress the image，The compressed image is abnormal。
[code]
You can find the images before and after compression in the attachment。
How should i solve this problem，please help me

Environment
JDK1.8 and thumbnailator's version is 0.4.8
after：
![after](https://user-images.githubusercontent.com/53120626/159882934-4a43e693-3997-476f-b171-

[2022-03-24 13:07] coobird commented on #191
This is a problem with Java's default JPEG reader not reading the JPEG properly.

You'll likely get better results if you use [TwelveMonkey ImageIO](https://github.com/haraldk/TwelveMonkeys)'s JPEG reader instead; you'll just need to [include it as a Maven dependency](https://github.com/haraldk/TwelveMonkeys#maven-dependency-example) and as long as it's in the classpath, that JPEG reader will be u

[2022-03-26 18:36] coobird commented on #37
Closed due to inactivity and no other reports of a similar issue.

[2022-03-26 18:36] #37 closed, assigned to nobody

[2022-03-26 19:32] coobird opened #192 "Require explicitly setting image type when outputting to BufferedImage(s)"
Currently, Thumbnailator does not require setting the `BufferedImage` type and will (attempt to) use the types as the input source. (More specifically, the image type that is used by the Image I/O `ImageReader` implementation used for the image.) This means that the type can differ depending on the image type or the image itself.

By requiring the output type to be a certain type, the inconsistenc

[2022-03-28 06:19] #191 closed, assigned to nobody

[2022-03-28 06:20] Herewell commented on #191
it‘s ok,thanks!

[2022-04-25 19:10] Augustusm007 opened #193 "ImageResize is taking longer time for Small images"
## Expected behavior
Expecting image Resize processing time is lesser for small images than larger size Images.

## Actual behavior
Smaller size Image took more time than larger size Image. Not sure of its due to height of the Image is playing any key role.

## Steps to reproduce the behavior

Issue:

**IMG1.JPG with size 4.64 MB with below dimensions took ~1 second to resize.**

![IMG1](https://u

[2022-04-29 17:02] coobird commented on #193
@Augustusm007, I've taken a closer look at this.

This issue steps from the second image being a progressive JPEG, and the JPEG reader taking a longer time to process it. That is outside the [scope of what Thumbnailator handles](https://github.com/coobird/thumbnailator/wiki/FAQ#which-image-formats-are-supported-by-thumbnailator), however, I did find possible mitigation.

A bit more in detail of wh

[2022-04-29 17:03] coobird commented on #193
Closing ticket as the root cause is outside the scope of Thumbnailator.

[2022-04-29 17:03] #193 closed, assigned to nobody

[2022-04-29 18:45] coobird opened #194 "Expose metrics for internal processes"
Thumbnailator has several internal processes in a course of a single thumbnail operation: reading the image, resizing the image, applying filters and writing the image. Currently, there is no way to find out how much time is spent on each of these processes. Furthermore, there may be other metrics that would be interesting to keep track of, or obtain for debugging purposes.

[2022-04-29 18:57] coobird opened #195 "Protection against denial-of-service from malicious or highly-compressed images"
Highly-compressed images in the form of large PNGs or malicious PNG decompression bombs could lead to `OutOfMemoryError`s.

While I haven't researched whether decompression bombs can actually happen with the default PNG reader bundled with Java, if such things can happen, then a countermeasure against them would be nice to incorporate in Thumbnailator.

References:
* [Defending Libpng Applications

[2022-04-30 07:56] coobird commented on #195
Duplicate of #105.

[2022-04-30 07:56] #195 closed, assigned to nobody

[2022-05-04 18:55] Augustusm007 commented on #193
Thanks coobird !!

[2022-05-25 13:46] stefanwendelmann commented on #117
I got the exact same problem with v.0.4.17 and OpenJDK Runtime Environment Temurin-11.0.14.1+1 (build 11.0.14.1+1) on Windows and same on Docker ubi8 image and java-11-openjdk-headless

[2022-05-25 14:19] stefanwendelmann commented on #117
@santo74  & @coobird  i checked agin and saw that there was an exif orientation on my image.
So setting `useExifOrientation` to false keeps my selected width or height but the image is then landscape not portrait.

@coobird  would be nice if one coud use the exif Orientation and the prefered width and / or height doesent get flipped.

[2022-05-27 16:28] Auties00 opened #196 "Jigsaw modules support"
Hello,
I'd like to use this library in one of my projects, though I noticed that it doesn't provide a module info. I was going to add one myself and create a PR, but as soon as I pulled the repo I noticed that the minimum version supported is Java 5. I'd still like to implement this feature and get it merged, so, if it's something that can be useful for the library, should I bump the minimum versi

[2022-05-27 17:30] coobird commented on #196
Bumping the minimal supported Java version to 11 is out of the question, given that its adoption is nowhere near universal. It would likely break many projects that already depend on Thumbnailator.

Looking around, it looks like [there are ways](https://stackoverflow.com/a/64127475) to target lower versions of Java with `module-info.java` included, so I could look at those options. In that case, o

[2022-05-27 17:35] coobird commented on #117
@stefanwendelmann, thanks for the details. I'm not exactly sure if you're reporting the same issue, but it sounds like #91 for sure. I'll try looking into this.

[2022-05-27 17:36] coobird commented on #91
I'll look into this as a candidate to include in an upcoming release.

[2022-06-22 02:37] tuannt39 commented on #91
@coobird same issue
`Thumbnails.of(bufferedImage).scale(scale).asBufferedImage();`
- original image: width < height -> result image: ok
- original image: width > height -> result image: rotate 90*

[2022-06-23 13:50] devinliu1 opened #197 "No suitable ImageReader found for source data(jpeg Picture format)"
When using thumbnails to add watermarks

Thumbnails. of(inputStream). scale(1). outputQuality(1). toFile(filePath);

Throw exception net coobird. thumbnailator. tasks. UnsupportedFormatException: No suitable ImageReader found for source data

[2022-06-23 15:38] coobird commented on #197
Thumbnailator relies on the Image I/O API's to read/write images. As such, the supported image formats depend on what's available to the Java environment. More information in [Which image formats are supported by Thumbnailator](https://github.com/coobird/thumbnailator/wiki/FAQ#which-image-formats-are-supported-by-thumbnailator))

My guess would be that the file you think is a JPEG is not actually

[2022-06-24 05:30] devinliu1 commented on #197
Thank you. The problem has been solved

[2022-06-25 10:20] #197 closed, assigned to nobody

[2022-08-10 12:11] jinwenchaobaby opened #198 "How to ensure the GIF dynamic effect after compression"
## Expected behavior
Ensure GIF dynamic effect

[2022-08-10 12:23] coobird commented on #198
Thumbnailator does not currently support [animated GIFs](https://en.wikipedia.org/wiki/GIF#Animated_GIF).

An enhancement ticket (#67) exists for this issue, so I will be closing this ticket.

[2022-08-10 12:23] #198 closed, assigned to nobody

[2022-08-19 11:38] tsyma opened #199 "Do you have plans to support WebP, AVIF?"
Just query: Do you have plans to support WebP and AVIF?
WebP is already supported by all web Browsers.
https://en.wikipedia.org/wiki/WebP
https://en.wikipedia.org/wiki/AVIF

[2022-08-31 08:28] torakiki commented on #196
Can you please at least add an automatic module name to the manifest?
http://branchandbound.net/blog/java/2017/12/automatic-module-name/

[2022-09-04 16:43] coobird commented on #199
The image reading and writing functionality of Thumbnailator is dependent on the capability of the Java Image I/O API which the library uses. Therefore, if you want support for WebP or AVIF, you'll need to use a Image I/O plugin that supports those formats. For example, the [TwelveMonkeys ImageIO](https://github.com/haraldk/TwelveMonkeys) library supports WebP.

For more information, please refer

[2022-09-04 16:43] #199 closed, assigned to nobody

[2022-09-04 16:44] coobird commented on #196
@torakiki, thanks, I will look into this :)

[2022-09-20 02:46] gotson opened #200 "Thumbnail not properly generating from PNG images"
## Expected behavior
_Please describe what you are expecting the library to perform._

The thumbnail should have been created without distortion.

## Actual behavior
_Please describe the actual behavior you are experiencing, including stack
trace and other information which would help diagnose the issue._

Thumbnails are distorted
Sample 1: image has a blue tint vs Sample 3 which is the same image

[2022-10-17 22:49] simon1867 commented on #152
This has been open for a while.
Any plans to add support for this?
Or at least to disable upscaling?

[2022-10-20 15:54] coobird commented on #200
@gotson, Thumbnailator uses the `BufferedImage` image type as the original when resizing the image. If the original image has a reduced number of colors, during the resize process, it will use reduced number of colors.  As a result, we can end up with suboptimal results, including the issues you've seen.

One way to avoid this is to force Thumbnailator to use a different image type internally when

[2022-10-24 03:16] gotson commented on #200
Thanks a lot @coobird , it solves my problem indeed!

[2022-10-24 03:16] #200 closed, assigned to nobody

[2022-10-25 11:57] coobird commented on #91
This issue has been fixed in 0.4.18.

[2022-10-25 11:57] #91 closed, assigned to coobird

[2022-10-30 19:34] devxzero commented on #186
It took me some time to figure out that Thumbnailator was not using the file that I specificied in `toFile(File)`, but was using a changed version of it under certain conditions.

(I had some files to store in the operating system tmp directory for further processing, created using `Files.createTempFile()`. and then use that file as `toFile` output for Thumbnailator, and then move it to the final

[2022-11-09 12:35] aleksanderFox opened #201 "Image color loss during conversion"
## Expected behavior
_Please describe what you are expecting the library to perform._
The image does not lose color during conversion.

## Actual behavior
Hello!
I'm using the thumbnailator library to compress and convert customers images to png (to default size 200x200).
One user came in with an image that was losing color (black gets lighter).
Perhaps the error is due to the fact that the origin

[2022-11-11 14:06] qiezhengyuan commented on #152
One solution:
[code]
And then:
[code]

[2022-11-21 16:32] #181 closed, assigned to nobody

[2022-11-23 16:41] coobird commented on #196
I'll add an `Automatic-Module-Name` in #202.

[2022-11-23 16:47] coobird commented on #201
There have been similar issues reported in the past, and usually it can be solved by forcing the image type to be `BufferedImage.TYPE_INT_ARGB` by `.outputFormat(BufferedImage.TYPE_INT_ARGB)` -- not setting this will make Thumbnailator perform image processing on the original image type which could introduce these types of issues.

[2022-11-29 09:39] aleksanderFox commented on #201
Perhaps .outputFormat(BufferedImage.TYPE_INT_ARGB) is a typo?
It was meant .imageType(BufferedImage.TYPE_INT_ARGB)?

[code]

Unfortunately, the above code did not help to fix the error.